<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/layouts/layout :: layout('Product details', ~{this :: .content-main})}">

<head>
<title>DashBoard</title>
</head>

<body>
	<main class="main content-main">
		<div class="section-box">
			<div class="breadcrumbs-div">
				<div class="container">
					<ul class="breadcrumb">
						<li><a class="font-xs color-gray-1000" href="index.html">Home</a></li>
						<li><a class="font-xs color-gray-500" href="shop-grid.html">Shop</a></li>
						<li><a class="font-xs color-gray-500" href="shop-cart.html">Cart</a></li>
					</ul>
				</div>
			</div>
		</div>
		<section class="section-box shop-template">
			<div class="container">
				<div class="row mb-40">
					<div class="col-lg-6 col-md-6 col-sm-6-col-6">
						<a class="btn btn-buy w-auto arrow-back mb-10"
							th:href="@{/product/search?keyword=}">Continue shopping</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<div class="box-carts">
							<div class="head-wishlist">
								<div class="item-wishlist" style="padding: 5px 40px;">
									<div class="wishlist-cb">
										<input class="cb-layout cb-all" type="checkbox">
									</div>
									<div class="wishlist-product" style="width: 20%;">
										<span class="font-md-bold color-brand-3">Photo</span>
									</div>
									<div class="wishlist-product" style="width: 20%">
										<span class="font-md-bold color-brand-3">Product</span>
									</div>
									<div class="wishlist-price">
										<span class="font-md-bold color-brand-3">Unit Price</span>
									</div>
									<div class="wishlist-status">
										<span class="font-md-bold color-brand-3">Quantity</span>
									</div>
									<div class="wishlist-action">
										<span class="font-md-bold color-brand-3">Subtotal</span>
									</div>
									<div class="wishlist-remove">
										<span class="font-md-bold color-brand-3">Remove</span>
									</div>
								</div>
							</div>
							<th:block th:each="cart: ${carts}">
								<div class="box-orders">
									<div class="head-orders">
										<div class="head-left" style="width: 10%">
											<h5 style="margin-left: 4%">
												<a th:text=${cart.cartItemses[0].products.vendors.name}></a>
											</h5>
										</div>
										<div class="head-right">
											<a class="btn btn-buy font-sm-bold w-auto">View Vendor</a>
										</div>
									</div>
									<div class="body-orders">
										<div class="list-orders">
											<th:block th:each="cartItem: ${cart.cartItemses}">
												<div class="card mb-2">
													<div class="card-body bg-light">
														<article class="box mb-3 bg-light">
															<div class="item-orders">
																<div class="item-wishlist">
																	<div class="wishlist-cb">
																		<input class="cb-layout cb-select" type="checkbox">
																	</div>
																	<div class="wishlist-product" style="width: 20%">
																		<div class="product-wishlist">
																			<div class="product-image">
																				<a
																					th:href="@{'/product/productdetails/'+${cartItem.products.id}}">
																					<th:block
																						th:if="${cartItem.products.mediases[0].name.contains('https:')}">
																						<img
																							th:src="${cartItem.products.mediases[0].name}"
																							alt="Ecom">
																					</th:block> <th:block
																						th:if="${!cartItem.products.mediases[0].name.contains('https:')}">
																						<img
																							th:src="@{'/assets/imgs/others/' + ${cartItem.products.mediases[0].name}}"
																							alt="Ecom">
																					</th:block>
																				</a>
																			</div>

																		</div>
																	</div>
																	<div class="wishlist-product" style="width: 20%">
																		<div class="product-wishlist">
																			<div class="product-info">
																				<a
																					th:href="@{'/product/productdetails/'+${cartItem.products.id}}">
																					<h6 class="color-brand-3"
																						th:text=${cartItem.products.name}></h6>
																				</a>

																			</div>
																		</div>
																	</div>
																	<div class="wishlist-price">
																		<th:block th:with="foundDiscountItem=${false}">
																			<th:block th:each="dtoItem : ${cartDtoItems}">
																				<th:block
																					th:if="${dtoItem.productId == cartItem.products.id && dtoItem.productVariantId == cartItem.productVariants.id}">
																					<th:block th:with="foundDiscountItem=${true}"></th:block>
																				</th:block>
																			</th:block>

																			<th:block th:if="${foundDiscountItem}">
																				<p
																					class="color-gray-500 price-line font-sm line-througt text-end"
																					th:text="${cartItem.products.price}"></p>
																				<h5 class="color-brand-3">
																					$
																					<th:block
																						th:text="${foundDiscountItem.afterDiscountPrice}"></th:block>
																				</h5>
																			</th:block>
																			<th:block th:unless="${foundDiscountItem}">
																				<h5 class="color-brand-3">
																					$
																					<th:block th:text="${cartItem.products.price}"></th:block>
																				</h5>
																			</th:block>
																		</th:block>
																	</div>
																	<div class="wishlist-status">
																		<div class="box-quantity">
																			<div class="input-quantity">
																				<input class="font-xl color-brand-3" type="text"
																					th:value="${cartItem.quantity}"><span
																					class="minus-cart"></span><span class="plus-cart"></span>
																			</div>

																		</div>
																	</div>
																	<div class="wishlist-action">

																		<th:block
																			th:if="${cartDtoItems!=null && !#lists.isEmpty(cartDtoItems)}">
																			<th:block th:each="cartDtoItem : ${cartDtoItems}">
																				<th:block
																					th:if="${cartItem.products.id == cartDtoItem.productId && cartItem.productVariants.id == cartDtoItem.productVariantId}">

																					<h5 class="color-brand-3">
																						$
																						<th:block
																							th:text="${cartDtoItem.afterDiscountPrice*cartItem.quantity}"></th:block>

																					</h5>
																				</th:block>

																			</th:block>

																		</th:block>
																		<th:block
																			th:if="${cartDtoItems==null && #lists.isEmpty(cartDtoItems)}">
																			<h5 class="color-brand-3">
																				$
																				<th:block
																					th:text="${cartItem.products.price*cartItem.quantity}"></th:block>
																			</h5>

																		</th:block>




																	</div>
																	<div class="wishlist-remove">
																		<a class="btn btn-delete" href="#"></a>
																	</div>
																</div>
															</div>

														</article>
													</div>
												</div>
											</th:block>
											<div class="form-group d-flex">

												<h3 class="form-control mr-15">Apply a coupon</h3>
												<button class="btn btn-buy w-auto">Apply</button>
											</div>
											<div></div>




										</div>
									</div>
								</div>
							</th:block>


						</div>
					</div>
					<div class="col-lg-3">
						<div class="summary-cart sticky-top"
							style="top: 15%; z-index: 999;">
							<div class="border-bottom mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Subtotal</span>
									</div>
									<div class="col-6 text-end">
										<h4>$2.51</h4>
									</div>
								</div>
							</div>
							<div class="border-bottom mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Shipping</span>
									</div>
									<div class="col-6 text-end">
										<h4>Free</h4>
									</div>
								</div>
							</div>
							<div class="border-bottom mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Estimate for</span>
									</div>
									<div class="col-6 text-end">
										<h6>United Kingdom</h6>
									</div>
								</div>
							</div>
							<div class="mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Total</span>
									</div>
									<div class="col-6 text-end">
										<h4>$2.51</h4>
									</div>
								</div>
							</div>
							<div class="box-button">
								<a class="btn btn-buy" th:href="@{/invoice/checkout}">Proceed
									To CheckOut</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

</body>