<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/layouts/layout :: layout('Product details', ~{this :: .content-main})}">

<head>
<title>DashBoard</title>
</head>

<body>
	<main class="main content-main">
		<div class="section-box">
			<div class="breadcrumbs-div">
				<div class="container">
					<ul class="breadcrumb">
						<li><a class="font-xs color-gray-1000" href="index.html">Home</a></li>
						<li><a class="font-xs color-gray-500" href="shop-grid.html">Shop</a></li>
						<li><a class="font-xs color-gray-500" href="shop-cart.html">Cart</a></li>
					</ul>
				</div>
			</div>
		</div>
		<section class="section-box shop-template">
			<div class="container">
				<div class="row mb-40">
					<div class="col-lg-6 col-md-6 col-sm-6-col-6">
						<a class="btn btn-buy w-auto arrow-back mb-10"
							th:href="@{/product/search?keyword=}">Continue shopping</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<div class="box-carts">
							<div class="head-wishlist">
								<div class="item-wishlist" style="padding: 5px 40px;">
									<div class="wishlist-cb">
										<input class="cb-layout cb-all" type="checkbox">
									</div>
									<div class="wishlist-product" style="width: 20%;">
										<span class="font-md-bold color-brand-3">Photo</span>
									</div>
									<div class="wishlist-product" style="width: 10%">
										<span class="font-md-bold color-brand-3">Product</span>
									</div>
									<div class="wishlist-product" style="width: 10%">
										<span class="font-md-bold color-brand-3">attribute</span>
									</div>
									<div class="wishlist-price">
										<span class="font-md-bold color-brand-3">Unit Price</span>
									</div>
									<div class="wishlist-status">
										<span class="font-md-bold color-brand-3">Quantity</span>
									</div>
									<div class="wishlist-action">
										<span class="font-md-bold color-brand-3">Subtotal</span>
									</div>
									<div class="wishlist-remove">
										<span class="font-md-bold color-brand-3">Remove</span>
									</div>
								</div>
							</div>
							<th:block th:each="vendorEntry : ${cartItemsGroupedByVendor}">
								<div class="box-orders">
									<div class="head-orders">
										<div class="head-left" style="width: 10%">
											<h5 style="margin-left: 4%">
												<a th:text="${vendorEntry.key.name}"></a>
											</h5>
										</div>
										<div class="head-right">
											<a class="btn btn-buy font-sm-bold w-auto">View Vendor</a>
										</div>
									</div>
									<div class="body-orders">
										<div class="list-orders">
											<th:block th:each="dtoItem : ${vendorEntry.value}">
												<div class="selectedToCheckoutCartItems card mb-2">
													<div class="card-body bg-light">
														<article class="box mb-3 bg-light">
															<div class="item-orders">
																<div class="item-wishlist">
																	<div class="wishlist-cb">
																		<input class="cb-layout cb-select" type="checkbox" th:id="'selectedCheckBox_'+${dtoItem.cartItem.id}">
																	</div>
																	<div class="wishlist-product" style="width: 20%">
																		<div class="product-wishlist">
																			<div class="product-image">
																				<a
																					th:href="@{'/product/productdetails/'+${dtoItem.cartItem.products.id}}">
																					<th:block
																						th:if="${dtoItem.cartItem.products.mediases[0].name.contains('https:')}">
																						<img
																							th:src="${dtoItem.cartItem.products.mediases[0].name}"
																							alt="Ecom">
																					</th:block> <th:block
																						th:if="${!dtoItem.cartItem.products.mediases[0].name.contains('https:')}">
																						<img
																							th:src="@{'/assets/imgs/others/' + ${dtoItem.cartItem.products.mediases[0].name}}"
																							alt="Ecom">
																					</th:block>
																				</a>
																			</div>
																		</div>
																	</div>
																	<div class="wishlist-product" style="width: 10%">
																		<div class="product-wishlist">
																			<div class="product-info">
																				<a
																					th:href="@{'/product/productdetails/'+${dtoItem.cartItem.products.id}}">
																					<h6 class="color-brand-3"
																						th:text="${dtoItem.cartItem.products.name}"></h6>
																				</a>
																			</div>
																		</div>
																	</div>
																	<div class="wishlist-product" style="width: 10%">
																		<div class="product-wishlist">
																			<div class="product-info">
																				
																					<h6 class="color-brand-3" th:text="${dtoItem.combination}"></h6>
																				
																			</div>
																		</div>
																	</div>
																	<div class="wishlist-price">
																		<th:block th:if="${dtoItem.hasDiscount}">
																			<p
																				class="color-gray-500 price-line font-sm line-througt text-end"
																				th:text="${dtoItem.originalPrice}"></p>
																			<h5 class="color-brand-3">
																				$
																				<th:block th:text="${dtoItem.afterDiscountPrice}"></th:block>
																			</h5>
																		</th:block>
																		<th:block th:if="${!dtoItem.hasDiscount}">
																			<h5 class="color-brand-3">
																				$
																				<th:block th:text="${dtoItem.originalPrice}"></th:block>
																			</h5>
																		</th:block>
																	</div>
																	<div class="wishlist-status">
																		<div class="box-quantity">
																			<div class="input-quantity">
																			<form method="post" th:action="@{'/customer/cart/updatecartitemquantity/'+${dtoItem.cartItem.id}}">
																			
																				<input class="font-xl color-brand-3" type="text" readonly="readonly"
																					th:value="${dtoItem.cartItem.quantity}" th:id="'updateCartItemQuantity_'+${dtoItem.cartItem.id}"> <span
																					class="minus-cart" th:id="'minus_'+${dtoItem.cartItem.id}"></span> <span class="plus-cart" th:id="'plus_'+${dtoItem.cartItem.id}"></span>
																			</form>
																			<script
																				th:src="@{/client/assets/js/vendors/jquery-3.6.0.min.js}"></script>
																			<script>
																			$(document).ready(function() {
																				$(document).on('click','#selectedCheckBox_[[${dtoItem.cartItem.id}]]', function() {
																					
																				});
																			    // Xử lý sự kiện click cho nút "plus-cart"
																			    $(document).on('click', '#plus_[[${dtoItem.cartItem.id}]]', function() {
																			        updateQuantity($(this), 1); // Tăng số lượng lên 1
																			    });

																			    // Xử lý sự kiện click cho nút "minus-cart"
																			    $(document).on('click', '#minus_[[${dtoItem.cartItem.id}]]', function() {
																			        updateQuantity($(this), -1); // Giảm số lượng đi 1
																			    });
																			 // --- NEW: Handle input changes and Enter key press ---
																			    
																			    function updateQuantity(buttonElement, change) {
																			        // Lấy ID của cartItem từ ID của nút (ví dụ: 'plus_123' -> 123)
																			        const cartItemId = buttonElement.attr('id').split('_')[1];
																			        const quantityInput = $('#updateCartItemQuantity_' + cartItemId);
																			        let currentQuantity = parseInt(quantityInput.val());
																			        let newQuantity = currentQuantity + change;

																			        // Đảm bảo số lượng không nhỏ hơn 1
																			        if (newQuantity < 1) {
																			            newQuantity = 1;
																			        }

																			        // Cập nhật giá trị hiển thị ngay lập tức
																			        quantityInput.val(newQuantity);

																			        // Chuẩn bị dữ liệu để gửi
																			        const requestData = {
																			            quantity: newQuantity
																			        };

																			        // Gửi yêu cầu AJAX bằng jQuery
																			        $.ajax({
																			            url: '/customer/cart/updatecartitemquantity/' + cartItemId,
																			            type: 'POST', // Hoặc 'PUT' nếu bạn muốn tuân thủ RESTful hơn
																			            contentType: 'application/json',
																			            // Nếu bạn sử dụng Spring Security và cần CSRF token:
																			            // headers: {
																			            //     'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content') // Đảm bảo bạn có meta tag này
																			            // },
																			            data: JSON.stringify(requestData),
																			            success: function(response) {
																			                if (response.success) {
																			                    console.log('Cập nhật số lượng thành công:', response.newQuantity);
																			                    // Cập nhật tổng giá của sản phẩm và tổng giá giỏ hàng
																									$('#updateCartItemQuantity_'+cartItemId).val(response.newQuantity);
																			                    if('[[${dtoItem.hasDiscount}]]'){
																			                    	console.log("hasdiscount, update value");
																			                    	$('#selectedSubTotal_[[${dtoItem.cartItem.id}]]').val('[[${dtoItem.afterDiscountPrice}]]' * response.newQuantity);
																			                    	$('#selectedSubTotalText_[[${dtoItem.cartItem.id}]]').text('[[${dtoItem.afterDiscountPrice}]]' * response.newQuantity);
																			                    } else {
																			                    	console.log("hasdiscount, update value");
																			                    	$('#selectedSubTotal_[[${dtoItem.cartItem.id}]]').val('[[${dtoItem.originalPrice}]]' * response.newQuantity);
																			                    	$('#selectedSubTotalText_[[${dtoItem.cartItem.id}]]').text('[[${dtoItem.originalPrice}]]' * response.newQuantity);
																			                    	
																			                    }
																			                } else {
																			                    alert('Có lỗi xảy ra khi cập nhật số lượng: ' + response.message);
																			                    // Khôi phục lại giá trị cũ nếu cập nhật thất bại
																			                    quantityInput.val(currentQuantity);
																			                }
																			            },
																			            error: function(jqXHR, textStatus, errorThrown) {
																			                console.error('Lỗi AJAX:', textStatus, errorThrown, jqXHR.responseText);
																			                alert('Đã xảy ra lỗi khi kết nối đến máy chủ.');
																			                // Khôi phục lại giá trị cũ nếu có lỗi
																			                quantityInput.val(currentQuantity);
																			            }
																			        });
																			    }
																			});
																			</script>
																			</div>
																		</div>
																	</div>
																	<div class="wishlist-action" style="display: flex;">
																		<h5 class="color-brand-3">$</h5>
																		
																		<h5 class="color-brand-3" th:if="${dtoItem.hasDiscount}" th:id="'selectedSubTotalText_'+${dtoItem.cartItem.id}"
																				th:text="${dtoItem.afterDiscountPrice * dtoItem.cartItem.quantity}">																		
																			<th:block >
																					<input type="hidden" th:value="${dtoItem.afterDiscountPrice * dtoItem.cartItem.quantity}" th:id="'selectedSubTotal_'+${dtoItem.cartItem.id}">
																				</th:block>
																			
																		</h5>
																		<h5 class="color-brand-3" th:if="${!dtoItem.hasDiscount}" th:id="'selectedSubTotalText_'+${dtoItem.cartItem.id}"
																				th:text="${dtoItem.originalPrice * dtoItem.cartItem.quantity}">																		
																			
																			<th:block >
																				<input type="hidden" th:value="${dtoItem.originalPrice * dtoItem.cartItem.quantity}" th:id="'selectedSubTotal_'+${dtoItem.cartItem.id}">
																				</th:block>
																		</h5>
																	</div>
																	<div class="wishlist-remove">
																	
																		<a class="btn btn-delete" th:href="@{'/customer/cart/deletecartitem/'+${dtoItem.cartItem.id}}"></a>
																	</div>
																</div>
															</div>
														</article>
													</div>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</th:block>


						</div>
					</div>
					<div class="col-lg-3">
						<div class="summary-cart sticky-top"
							style="top: 15%; z-index: 999;">
							<div class="border-bottom mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Subtotal</span>
									</div>
									<div class="col-6 text-end">
										<h4>$0</h4>
									</div>
								</div>
							</div>
							<div class="border-bottom mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Shipping</span>
									</div>
									<div class="col-6 text-end">
										<h4>Free</h4>
									</div>
								</div>
							</div>
							<div class="mb-10">
								<div class="row">
									<div class="col-6">
										<span class="font-md-bold color-gray-500">Total</span>
									</div>
									<div class="col-6 text-end">
										<h4>$2.51</h4>
									</div>
								</div>
							</div>
							<div class="box-button">
								<a class="btn btn-buy" th:href="@{/invoice/checkout}">Proceed
									To CheckOut</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

</body>