<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Order List', ~{this :: .content-main})}">

<head>
<title>Customer List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<h2 class="content-title">Customer list</h2>
			<div>
				
			</div>
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<div class="row gx-3">
					<div class="col-lg-4 col-md-6 me-auto">
						<form method="get" th:action="@{/admin/user/search-by-keyword}"
							id="productSearchForm">
							<input class="form-control font-xs" type="text" value=""
								placeholder="Search....." name="keyword"
								id="productSearchKeyword">
						</form>
						<script>
							document.getElementById('productSearchKeyword').addEventListener('keyup', function(event) {									
								 if (event.key === 'Enter' || event.keyCode === 13) {
								        document.getElementById('productSearchForm').submit();
								    }
                            });
						</script>
					</div>

					<div class="col-lg-2 col-md-3 col-6">
						<form method="GET" th:action="@{/admin/customer/list}">
							<select class="form-select" name="filter"
								onchange="this.form.submit()">
								<option value="show_all" th:selected="${filter == 'show_all'}">Status
									all</option>
								<option value="enabled" th:selected="${filter == 'enabled'}">Enabled</option>
								<option value="disabled" th:selected="${filter == 'disabled'}">Disabled</option>
							</select>
						</form>
					</div>

					<div class="col-lg-2 col-md-3 col-6">
						<select id="pageSizeSelect" class="form-select"
							onchange="changePageSize()">
							<option th:value="5" th:text="'Show 5'"
								th:selected="${pageSize == 5}"></option>
							<option th:value="10" th:text="'Show 10'"
								th:selected="${pageSize == 10}"></option>
							<option th:value="20" th:text="'Show 20'"
								th:selected="${pageSize == 20}"></option>
						</select>
					</div>

					<script>
						document.addEventListener('DOMContentLoaded', () => {
					        const select = document.getElementById('pageSizeSelect');
					        const urlParams = new URLSearchParams(window.location.search);
					        const pageSize = urlParams.get('pageSize') || '5'; // default là 5
					        select.value = pageSize;
					    });
						function changePageSize() {
						    // Lấy giá trị của option đã chọn
						    const select = document.getElementById('pageSizeSelect');
						    const pageSize = select.value;
						    
						    // Lấy giá trị của trang hiện tại, nếu có
						    const urlParams = new URLSearchParams(window.location.search);
						    const currentPage = urlParams.get('page') || 0; // hoặc giá trị khác tùy ý
						    
						    // Tạo URL mới với tham số page và pageSize
						    const newUrl = new URL(window.location.origin + window.location.pathname);
						    newUrl.searchParams.set('page', currentPage);
						    newUrl.searchParams.set('pageSize', pageSize);
							if (window.location.pathname === '/admin/user/search-by-keyword') {
					           const keyword = urlParams.get('keyword');
					          if (keyword !== null) { 
					                newUrl.searchParams.set('keyword', keyword);
					            }
					       }
											
						    // Tải lại trang với URL mới
						    window.location.href = newUrl.toString();
						}
					</script>
				</div>
			</header>
			<!-- card-header end//-->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center">Customer</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Date of Birth</th>
								<th>Status</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${users!=null}">
								<tr th:each="user : ${users.content}">
									<td width="40%"><a class="itemside" href="#"
										style="flex-direction: column;">
											<div class="left">
												<th:block th:if="${user.avatar.contains('https:')}">
													<img class="img-md img-avatar" th:src="${user.avatar}"
														alt="User pic">
												</th:block>
												<th:block th:if="${!user.avatar.contains('https:')}">
													<img class="img-md img-avatar"
														th:src="@{'/assets/imgs/avatars/' + ${user.avatar}}"
														alt="User pic">
												</th:block>
											</div>
											<div class="info pl-3">
												<h6 class="mb-0 title">
													<th:block th:text="${user.username}"></th:block>
												</h6>
											</div>
									</a></td>
									<td><th:block th:text="${user.email}"></th:block></td>
									<td><th:block th:text="${user.phoneNumber}"></th:block></td>
									<td><th:block
											th:text="${#dates.format(user.birthOfDate, 'dd/MM/yyyy')}"></th:block></td>
									<td><th:block th:if="${user.deletedAt == null}">
											<span class="badge rounded-pill alert-success">Enable</span>
										</th:block> <th:block th:if="${user.deletedAt != null}">
											<span class="badge rounded-pill alert-danger">Disable</span>
										</th:block></td>
									<td class="text-center "><a
										class="btn btn-sm btn-brand rounded font-sm mt-15 d-flex justify-content-center"
										th:href="@{'/admin/customer/detail/'+${user.id}}">View
											details</a></td>

								</tr>
							</th:block>

						</tbody>
					</table>
					<!-- table-responsive.//-->
					<!-- card-body end//-->
				</div>
			</div>
		</div>
		<!-- card end
		
		//-->
		<th:block th:if="${keyword!=null &&!#lists.isEmpty(users.content)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/admin/user/search-by-keyword?keyword='+${keyword}+'&page=' + ${0}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{'/admin/user/search-by-keyword?keyword='+${keyword}+'&page=' + ${currentPages-1}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/user/search-by-keyword?keyword='+${keyword}+'&page=' + ${i}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/user/search-by-keyword?keyword='+${keyword}+'&page=' + ${currentPages+1}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/user/search-by-keyword?keyword='+${keyword}+'&page=' + ${lastPageIndex}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
		<th:block th:if="${keyword==null && !#lists.isEmpty(users.content)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/admin/customer/list?page=' + ${0}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{'/admin/customer/list?page=' + ${currentPages-1}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/customer/list?page=' + ${i}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/customer/list?page=' + ${currentPages+1}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/customer/list?page=' + ${lastPageIndex}+'&pageSize='+${pageSize}+'&filter='+${filter}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
	</section>
</body>