<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/layouts/layout :: layout('Home', ~{this :: .content-main})}">

<head>
<title>DashBoard</title>
</head>

<body>
	<main class="main content-main">
		<div class="section-box mt-30">
			<div class="container">
				<div class="box-swiper">
					<div class="swiper-container swiper-group-9">
						<div class="swiper-wrapper pt-5">
							<div class="swiper-slide" th:each="category : ${categories}">
						<a class="color-gray-900 font-md-bold" th:href="@{'/product/findbycategory/'+${category.id} + '?page=' + ${0}+ '&pageSize=' + ${30}}">
								<div class="item-cat">
									<div class="box-category-1">
										<div class="box-image">
											<div class="inner-image">
												<img
													th:src="@{'/assets/imgs/others/'+${category.photo}}"
													alt="Ecom">
											</div>
										</div>
										<div class="box-info">
											<a class="color-gray-900 font-md-bold" th:href="@{'/product/findbycategory/'+${category.id}}"> <th:block
													th:text="${category.name}"></th:block></a>
											<p class="font-xs color-gray-500" th:text="${category.productses.size()} +' items'"></p>
										</div>
									</div>
								</div>
							</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="section-box">
			<div class="banner-hero banner-home10">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 mb-20">
						
						</div>
						
						<div class="col-xl-6 col-lg-6 mb-20">
							<div class="banner-big-home10 bg-2">
								<div class="info-banner">
									<span class="font-sm text-uppercase color-brand-2 font-bold">new
										arrival</span>
									<h3 class="mt-10 color-gray-1000 mb-10">Plant a Tree Today</h3>
									<p class="font-base color-gray-500">Remains until the end
										of the offer</p>
									<div class="box-count box-count-square">
										<div class="deals-countdown"
											data-countdown="2022/09/25 00:00:00"></div>
									</div>
									<div class="mt-30">
										<a class="btn btn-success" href="shop-grid.html">Shop now</a>
									</div>
								</div>
								<div class="box-img-banner-2">
									<img
										th:src="@{/assets/imgs/page/homepage10/banner2.png}"
										alt="Ecom">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-box mt-50">
			<div class="container">
				<div class="head-main text-center border-none mb-0">
					<h3 class="mb-5">Featured Products</h3>
				</div>
				<div class="mt-0">
					<div class="list-products-5 list-products-home10">
						<th:block th:each="pro : ${top10products}">
							<div class="card-grid-style-3 home6-style home7-style">
																				
								<div class="card-grid-inner">
									<div class="tools">
										<a class="btn btn-trend btn-tooltip mb-10" href="#"
											aria-label="Trend" data-bs-placement="left"></a><a
											class="btn btn-wishlist btn-tooltip mb-10"
											href="shop-wishlist.html" aria-label="Add To Wishlist"></a><a
											class="btn btn-compare btn-tooltip mb-10"
											href="shop-compare.html" aria-label="Compare"></a><a
											class="btn btn-quickview btn-tooltip" aria-label="Quick view"
											href="#ModalQuickview" data-bs-toggle="modal"></a>
									</div>
									<div class="image-box">
										<a th:href="@{'/product/productdetails/'+${pro.id}}">
										<th:block th:if="${pro.mediases[0].name.contains('https:')}">
											<img th:src="${pro.mediases[0].name}" alt="Ecom">
										</th:block>
										<th:block th:if="${!pro.mediases[0].name.contains('https:')}">
											<img th:src="@{'/assets/imgs/others/' + ${pro.mediases[0].name}}" alt="Ecom">
										</th:block>																			
										</a>
									</div>
									<div class="info-right">
										<a class="font-xs color-gray-500"
											th:href="@{'/product/productdetails/'+${pro.id}}" th:text="${pro.description}"></a><br> <a
											class="color-brand-3 font-sm-bold"
											th:href="@{'/product/productdetails/'+${pro.id}}" th:text="${pro.name}"></a>
										<div class="rating">
											<img th:src="@{/assets/imgs/template/icons/star.svg}"
												alt="Ecom"><img
												th:src="@{/assets/imgs/template/icons/star.svg}"
												alt="Ecom"><img
												th:src="@{/assets/imgs/template/icons/star.svg}"
												alt="Ecom"><img
												th:src="@{/assets/imgs/template/icons/star.svg}"
												alt="Ecom"><img
												th:src="@{/assets/imgs/template/icons/star.svg}"
												alt="Ecom"><span class="font-xs color-gray-500">(65)</span>
										</div>
										<div class="price-info mb-10">
											<strong>$</strong><strong class="font-lg-bold color-brand-3 price-main" th:text=${pro.price}></strong>
										</div>
										<div class="mt-10 box-btn-cart">
											<strong>$</strong><strong class="font-lg-bold color-brand-3 price-main" th:text=${pro.price}></strong>
										</div>
									</div>
								</div>
							
							</div>
						</th:block>


					</div>
				</div>
			</div>
		</section>
		
	</main>

</body>