<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/layouts/layout :: layout('Home', ~{this :: .content-main})}">

<head>
<title>DashBoard</title>
</head>

<body>
	<main class="main content-main">
		<div class="section-box">
			<div class="breadcrumbs-div">
				<div class="container">
					<ul class="breadcrumb">
						<li><a class="font-xs color-gray-1000"
							th:href="@{/customer/home}">Home</a></li>
						<li th:if="${keyword}"><a class="font-xs color-gray-500"
							th:href="@{'/product/search?keyword='+${keyword}}">Search</a></li>
						<li th:if="${categoryId}"><a class="font-xs color-gray-500"
							th:href="@{'/product/findbycategory/'+${categoryId}}">Search</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="section-box shop-template mt-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 order-first order-lg-last">
						
						<div class="box-filters mt-0 pb-5 border-bottom">
							<div class="row">
								
								<div class="col-xl-12 col-lg-12 mb-10 text-lg-end text-center">
									<div class="d-inline-block">
										
									</div>
									<div class="d-inline-block">
										<span class="font-sm color-gray-500 font-medium">Show</span>
										<div class="dropdown dropdown-sort border-1-right">
											<form th:if="${categoryId}" id="pageSizeForm" method="GET"
												th:action="@{'/product/findbycategory/'+${categoryId}}">
												<select class="form-select" name="pageSize"
													id="pageSizeSelect">
													<option value="30" th:selected="${pagesize == 30}">30 items</option>
													<option value="50" th:selected="${pageSize == 50}">50 items</option>
													<option value="100" th:selected="${pageSize == 100}">100 items</option>
												</select>
											</form>
											<form th:if="${keyword!= null && min==null && max==null}" id="pageSizeForm" method="GET"
												th:action="@{/product/search}">
												<input type="text" name="keyword" th:value="${keyword}" hidden/>
												<select class="form-select" name="pageSize"
													id="pageSizeSelect">
													<option value="30" th:selected="${pagesize == 30}">30 items</option>
													<option value="50" th:selected="${pageSize == 50}">50 items</option>
													<option value="100" th:selected="${pageSize == 100}">100 items</option>
												</select>
											</form>
											<form th:if="${keyword!= null && min!=null && max!=null}" id="pageSizeForm" method="GET"
												th:action="@{/product/searchbypricerange}">
												<input type="text" name="keyword" th:value="${keyword}" hidden/>
												<input class="form-control min-value" type="hidden"
												name="min-value" th:value="${min}"> <input
												class="form-control max-value" type="hidden"
												name="max-value" th:value="${max}">
												<select class="form-select" name="pageSize"
													id="pageSizeSelect">
													<option value="30" th:selected="${pagesize == 30}">30 items</option>
													<option value="50" th:selected="${pageSize == 50}">50 items</option>
													<option value="100" th:selected="${pageSize == 100}">100 items</option>
												</select>
											</form>
											<script>
												document
														.getElementById(
																'pageSizeSelect')
														.addEventListener(
																'change',
																function() {
																	document
																			.getElementById(
																					'pageSizeForm')
																			.submit();
																});
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-20">

							<th:block th:each="product : ${products}">
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
									<div class="card-grid-style-3">
										<div class="card-grid-inner">
											
											<div class="image-box">
												<a th:href="@{'/product/productdetails/'+${product.id}}">
													<th:block
														th:if="${product.mediases[0].name.contains('https:')}">
														<img th:src="${product.mediases[0].name}" alt="Ecom">
													</th:block> <th:block
														th:if="${!product.mediases[0].name.contains('https:')}">
														<img
															th:src="@{'/assets/imgs/items/' + ${product.mediases[0].name}}"
															alt="Ecom">
													</th:block>
												</a>
											</div>
											<div class="info-right"><a
													class="color-brand-3 font-sm-bold"
													th:href="@{'/product/productdetails/'+${product.id}}" th:text="${product.name}"></a>
												<div class="rating">
													<img th:src="@{/assets/imgs/template/icons/star.svg}"
														alt="Ecom"><img
														th:src="@{/assets/imgs/template/icons/star.svg}"
														alt="Ecom"><img
														th:src="@{/assets/imgs/template/icons/star.svg}"
														alt="Ecom"><img
														th:src="@{/assets/imgs/template/icons/star.svg}"
														alt="Ecom"><img
														th:src="@{/assets/imgs/template/icons/star.svg}"
														alt="Ecom"><span class="font-xs color-gray-500">(65)</span>
												</div>
												<div class="price-info">
													<strong class="font-lg-bold color-brand-3 price-main">$</strong>
													<strong class="font-lg-bold color-brand-3 price-main"
														th:text=${product.price}></strong>
												</div>
												
												<ul class="list-features">
													<li th:text="${product.description}"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</th:block>


						</div>
						<nav>
							<th:block
								th:if="${categoryId!=null && !#lists.isEmpty(products)}">
								<ul class="pagination">
									<!-- nút về đầu -->
									<li class="page-item"
										th:classappend="${currentPages == 0} ? 'hidden'"><a
										class="page-link" aria-label="Back to start"
										th:href="@{'/product/findbycategory/'+${categoryId}+'?page='+${0}+ '&pageSize=' + ${1}}">
											<div style="font-size: 30;">&laquo;</div>
									</a></li>
									<!-- nút về trước -->
									<li class="page-item"
										th:classappend="${currentPages == 0} ? 'disabled'"><a
										th:href="@{'/product/findbycategory/'+${categoryId}+'?page=' + ${currentPages-1}+ '&pageSize=' + ${1}}"
										class="page-link" aria-label="Previous"><div
												style="font-size: 30;">&lsaquo;</div> </a></li>
									<!-- Các trang -->
									<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

										<li class="page-item"
											th:classappend="${i} == ${currentPages} ? 'active'"><a
											class="page-link"
											th:href="@{'/product/findbycategory/'+${categoryId}+'?page=' + ${i}+ '&pageSize=' + ${1}}"
											th:text="${i + 1}"></a></li>
									</th:block>

									<!-- Nút tiếp -->
									<li class="page-item"
										th:classappend="${currentPages + 1 >= totalPage} ? 'disabled'">
										<a class="page-link"
										th:href="@{'/product/findbycategory/'+${categoryId}+'?page=' + ${currentPages+1}+ '&pageSize=' + ${1}}"
										aria-label="Next">
											<div style="font-size: 30;">&rsaquo;</div>
									</a>
									</li>
									<!-- Nút tới cuối -->
									<li class="page-item"
										th:classappend="${currentPages + 1 >= totalPage}? 'hidden' ">
										<a class="page-link"
										th:href="@{'/product/findbycategory/'+${categoryId}+'?page=' + ${lastPageIndex}+ '&pageSize=' + ${1}}"
										aria-label="Next">
											<div style="font-size: 30;">&raquo;</div>
									</a>
									</li>
								</ul>
							</th:block>
							<th:block
								th:if="${keyword!=null && !#lists.isEmpty(products)}">
								<ul class="pagination">
									<!-- nút về đầu -->
									<li class="page-item"
										th:classappend="${currentPages == 0} ? 'hidden'"><a
										class="page-link" aria-label="Back to start"
										th:href="@{'/product/search?keyword='+${keyword}+'&page='+${0}+ '&pageSize=' + ${pageSize}}">
											<div style="font-size: 30;">&laquo;</div>
									</a></li>
									<!-- nút về trước -->
									<li class="page-item"
										th:classappend="${currentPages == 0} ? 'disabled'"><a
										th:href="@{'/product/search?keyword='+${keyword}+'&page=' + ${currentPages-1}+ '&pageSize=' + ${pageSize}}"
										class="page-link" aria-label="Previous"><div
												style="font-size: 30;">&lsaquo;</div> </a></li>
									<!-- Các trang -->
									<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

										<li class="page-item"
											th:classappend="${i} == ${currentPages} ? 'active'"><a
											class="page-link"
											th:href="@{'/product/search?keyword='+${keyword}+'&page=' + ${i}+ '&pageSize=' + ${pageSize}}"
											th:text="${i + 1}"></a></li>
									</th:block>

									<!-- Nút tiếp -->	
									<li class="page-item"
										th:classappend="${currentPages + 1 >= totalPage} ? 'disabled'">
										<a class="page-link"
										th:href="@{'/product/search?keyword='+${keyword}+'&page=' + ${currentPages+1}+ '&pageSize=' + ${pageSize}}"
										aria-label="Next">
											<div style="font-size: 30;">&rsaquo;</div>
									</a>
									</li>
									<!-- Nút tới cuối -->
									<li class="page-item"
										th:classappend="${currentPages + 1 >= totalPage}? 'hidden' ">
										<a class="page-link"
										th:href="@{'/product/search?keyword='+${keyword}+'&page=' + ${lastPageIndex}+ '&pageSize=' + ${pageSize}}"
										aria-label="Next">
											<div style="font-size: 30;">&raquo;</div>
									</a>
									</li>
								</ul>
							</th:block>

						</nav>
					</div>
					<div class="col-lg-3 order-last order-lg-first">
						<div class="sidebar-border mb-0">
							<div class="sidebar-head">
								<h6 class="color-gray-900">Product Categories</h6>
							</div>
							<div class="sidebar-content">
								<ul class="list-nav-arrow" th:each="category : ${categories}">
									<li><a
										th:href="@{'/product/findbycategory/'+${category.id}}"> <th:block
												th:text="${category.name}"></th:block> <span class="number"
											th:text="${category.productses.size()}"></span>
									</a></li>
								</ul>
								<div>
									<div class="collapse" id="moreMenu">
										<ul class="list-nav-arrow">
											<li><a href="shop-grid.html">Home theater<span
													class="number">98</span></a></li>
											<li><a href="shop-grid.html">Cameras & drones<span
													class="number">124</span></a></li>
											<li><a href="shop-grid.html">PC gaming<span
													class="number">56</span></a></li>
											<li><a href="shop-grid.html">Smart home<span
													class="number">87</span></a></li>
											<li><a href="shop-grid.html">Networking<span
													class="number">36</span></a></li>
										</ul>
									</div>
									<a class="link-see-more mt-5" data-bs-toggle="collapse"
										href="#moreMenu" role="button" aria-expanded="false"
										aria-controls="moreMenu">See More</a>
								</div>
							</div>
						</div>
						<div class="sidebar-border mb-40">
							<div class="sidebar-head">
								<h6 class="color-gray-900">Products Filter</h6>
							</div>
							<div class="sidebar-content">
								<h6 class="color-gray-900 mt-10 mb-10">Price</h6>
								<div class="box-slider-range mt-20 mb-15">
									<div class="row mb-20">
										<div class="col-sm-12">
											<div id="slider-range"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											
					                        <label class="lb-slider font-sm color-gray-500">Price Range:</label><span class="min-value-money font-sm color-gray-1000"></span>
					                        <label class="lb-slider font-sm font-medium color-gray-1000"></label>-
					                        <span class="max-value-money font-sm font-medium color-gray-1000"></span>
                      
											
										</div>
										<div class="col-lg-12">
										
											<form method="get" th:action="@{/product/searchbypricerange}"  id="productSearchRangeForm">
												<input class="form-control min-value" type="hidden"
												name="min-value" value=""> <input
												class="form-control max-value" type="hidden"
												name="max-value" value="">
												<input class="form-control font-xs" type="text" value=""
													placeholder="Search for items" name="keyword" id="productSearchRange">
											</form>
											<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
											<script>
											document.getElementById('productSearchRange').addEventListener('keyup', function(event) {									
												 if (event.key === 'Enter' || event.keyCode === 13) {
												        document.getElementById('productSearchRangeForm').submit();
												    }
				                            });
											$(document).ready(function () {
											    $(".noUi-handle").on("click", function () {
											        $(this).width(50);
											    });
											    var rangeSlider = document.getElementById("slider-range");
											    var rangeSlider2 = $("#slider-range");
											    if (rangeSlider2.length > 0) {
											        var moneyFormat = wNumb({
											            decimals: 0,
											            thousand: ",",
											            prefix: "$"
											        });
													console.log("[[${topprice}]]");
													var maxvalue = parseFloat("[[${topprice}]]");
											        noUiSlider.create(rangeSlider, {
											            start: [16, 173],
											            step: 1,
											            range: {
											                min: [0],
											                max: [maxvalue]
											            },
											            format: moneyFormat,
											            connect: true
											        });

											        // Set visual min and max values and also update value hidden form inputs
											        rangeSlider.noUiSlider.on("update", function (values, handle) {
											            $(".min-value-money").html(values[0]);
											            $(".max-value-money").html(values[1]);
											            $(".min-value").val(moneyFormat.from(values[0]));
											            $(".max-value").val(moneyFormat.from(values[1]));
											        });
											    }
											});
											</script>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box-slider-item mb-30">
							<div class="head pb-15 border-brand-2">
								<h5 class="color-gray-900">Best seller</h5>
							</div>
							<div class="content-slider">
								<div class="box-swiper slide-shop">
									<div class="swiper-container swiper-best-seller">
										<div class="swiper-wrapper pt-5">
											<div class="swiper-slide">
												<div th:each="topProduct : ${topViewProducts}"
													class="card-grid-style-2 card-grid-none-border border-bottom mb-10">
													<div class="image-box">
														<a th:href="@{'/product/productdetails/'+${topProduct.id}}">
														<th:block
															th:if="${topProduct.mediases[0].name.contains('https:')}">
															<img th:src="${topProduct.mediases[0].name}" alt="Ecom">
														</th:block> 
														<th:block
															th:if="${!topProduct.mediases[0].name.contains('https:')}">
															<img
																th:src="@{'/assets/imgs/items/' + ${topProduct.mediases[0].name}}"
																alt="Ecom">
														</th:block>
															
															</a>
													</div>
													<div class="info-right">
														<a class="color-brand-3 font-xs-bold"
															th:href="@{'/product/productdetails/'+${topProduct.id}}" th:text="${topProduct.name}"></a>
														
														<div class="price-info">
															<strong class="font-md-bold color-brand-3 price-main">$<th:block th:text="${topProduct.price}"></th:block></strong>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div th:each="topProduct : ${topViewProducts2}"
													class="card-grid-style-2 card-grid-none-border border-bottom mb-10">
													<div class="image-box">
														<a th:href="@{'/product/productdetails/'+${topProduct.id}}">
														<th:block
															th:if="${topProduct.mediases[0].name.contains('https:')}">
															<img th:src="${topProduct.mediases[0].name}" alt="Ecom">
														</th:block> 
														<th:block
															th:if="${!topProduct.mediases[0].name.contains('https:')}">
															<img
																th:src="@{'/assets/imgs/items/' + ${topProduct.mediases[0].name}}"
																alt="Ecom">
														</th:block>
															
															</a>
													</div>
													<div class="info-right">
														<a class="color-brand-3 font-xs-bold"
															th:href="@{'/product/productdetails/'+${topProduct.id}}" th:text="${topProduct.name}"></a>
														
														<div class="price-info">
															<strong class="font-md-bold color-brand-3 price-main">$<th:block th:text="${topProduct.price}"></th:block></strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div
										class="swiper-button-next swiper-button-next-style-2 swiper-button-next-bestseller"></div>
									<div
										class="swiper-button-prev swiper-button-prev-style-2 swiper-button-prev-bestseller"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<section class="section-box mt-90 mb-50">
			<div class="container">
				<ul class="list-col-5">
					<li>
						<div class="item-list">
							<div class="icon-left">
								<img th:src="@{/assets/imgs/template/delivery.svg}" alt="Ecom">
							</div>
							<div class="info-right">
								<h5 class="font-lg-bold color-gray-100">Free Delivery</h5>
								<p class="font-sm color-gray-500">From all orders over $10</p>
							</div>
						</div>
					</li>
					<li>
						<div class="item-list">
							<div class="icon-left">
								<img th:src="@{/assets/imgs/template/support.svg}" alt="Ecom">
							</div>
							<div class="info-right">
								<h5 class="font-lg-bold color-gray-100">Support 24/7</h5>
								<p class="font-sm color-gray-500">Shop with an expert</p>
							</div>
						</div>
					</li>
					<li>
						<div class="item-list">
							<div class="icon-left">
								<img th:src="@{/assets/imgs/template/voucher.svg}" alt="Ecom">
							</div>
							<div class="info-right">
								<h5 class="font-lg-bold color-gray-100">Gift voucher</h5>
								<p class="font-sm color-gray-500">Refer a friend</p>
							</div>
						</div>
					</li>
					<li>
						<div class="item-list">
							<div class="icon-left">
								<img th:src="@{/assets/imgs/template/return.svg}" alt="Ecom">
							</div>
							<div class="info-right">
								<h5 class="font-lg-bold color-gray-100">Return &amp; Refund</h5>
								<p class="font-sm color-gray-500">Free return over $200</p>
							</div>
						</div>
					</li>
					<li>
						<div class="item-list">
							<div class="icon-left">
								<img th:src="@{/assets/imgs/template/secure.svg}" alt="Ecom">
							</div>
							<div class="info-right">
								<h5 class="font-lg-bold color-gray-100">Secure payment</h5>
								<p class="font-sm color-gray-500">100% Protected</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

	</main>

</body>