<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Order detail', ~{this :: .content-main})}">

<head>
<title>Order List</title>
</head>

<body>
	<section class="content-main" id="printableArea">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Order detail</h2>
				<p>
					Details for Order ID:
					<th:block th:text="${order.id}"></th:block>
				</p>
			</div>
		</div>
		<div class="card">
			<header class="card-header">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
						<span style="display: flex; align-items: center; gap: 5px;"><i
							class="material-icons md-calendar_today"></i><b>&nbsp;<th:block
									th:text="${#dates.format(order.createdAt, 'EEE, dd MMM, yyyy, hh:mm a')}"></th:block></b></span>

					</div>
					<div class="col-lg-6 col-md-6 ms-auto text-md-end">
						<select
							class="form-select d-inline-block mb-lg-0 mb-15 mw-200 no-print">
							<option>Change status</option>
							<option>Awaiting payment</option>
							<option>Confirmed</option>
							<option>Shipped</option>
							<option>Delivered</option>
						</select>
						<button onclick="printSection()"
							class="btn btn-secondary print ms-2 no-print">
							<i class="icon material-icons md-print"></i>
						</button>
						<script>
					        function printSection() {
					            // Lấy nội dung HTML của thẻ section
					            var printContents = document.getElementById('printableArea').innerHTML;
					            // Lưu trữ nội dung gốc của body
					            var originalContents = document.body.innerHTML;
					
					            // Thay thế nội dung của body bằng nội dung của section
					            document.body.innerHTML = printContents;
					
					            // Gọi hàm in của trình duyệt
					            window.print();
					
					            // Khôi phục lại nội dung gốc của body sau khi in
					            document.body.innerHTML = originalContents;
					
					            // Có thể cần reload trang hoặc điều chỉnh DOM để hiển thị đúng lại các phần tử ban đầu
					            // Đối với các ứng dụng phức tạp hơn với các event listeners, bạn có thể cần cách tiếp cận khác
					            // Ví dụ: location.reload();
					        }
					    </script>
					</div>
				</div>
			</header>
			<div class="card-body">
				<div class="row mb-50 mt-20">
					<div class="col-4  text-center">
						<article class="icontext align-items-start">
							<span class="icon icon-sm rounded-circle bg-primary-light"><i
								class="text-primary material-icons md-person"></i></span>
							<div class="text  text-start">
								<a th:href="@{'/admin/customer/detail/'+${order.users.id}}">
									<h6 class="mb-1">Customer</h6>
									<p class="mb-1">
										<th:block th:text="${order.users.username}"></th:block>
										<br>
										<th:block th:text="${order.users.email}"></th:block>
									</p>
								</a>
							</div>
						</article>
					</div>
					<div class="col-4">
						<article class="icontext align-items-start">
							<span class="icon icon-sm rounded-circle bg-primary-light"><i
								class="text-primary material-icons md-local_shipping"></i></span>
							<div class="text text-start">
								<h6 class="mb-1">Order info</h6>
								<p class="mb-1">
									Pay method:
									<th:block th:text="${order.paymentMethod}"></th:block>
									<br>
								</p>
								<p class="mb-1">
									Pay date:
									<th:block
										th:text="${#dates.format(order.paymentDate, 'EEE, dd MMM, yyyy, hh:mm a')}"></th:block>
									<br>
								</p>
							</div>
						</article>
					</div>
					<div class="col-4">
						<article class="icontext align-items-start">
							<span class="icon icon-sm rounded-circle bg-primary-light"><i
								class="text-primary material-icons md-place"></i></span>
							<div class="text text-start" style="width: 65%">
								<h6 class="mb-1">Deliver to</h6>
								<p class="mb-1">
									Address:
									<th:block th:text="${order.userAddress}"></th:block>
								</p>
							</div>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th width="50%">Product</th>
										<th width="10%">Unit Price</th>
										<th width="10%">Quantity</th>
										<th class="text-center" width="20%">Status</th>
										<th class="text-end" width="10%">Total</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${orderItems != null}">
										<tr th:each="orderItem : ${orderItems}">
											<td><a class="itemside"
												th:href="@{'/admin/product/detail/'+${orderItem.products.id}}">
													<div class="left">
														<th:block
															th:if="${orderItem.products.mediases[0].name.contains('https:')}">
															<img class="img-xs img-thumbnail"
																th:src="${orderItem.products.mediases[0].name}"
																alt="Item" width="40" height="40">
														</th:block>
														<th:block
															th:if="${!orderItem.products.mediases[0].name.contains('https:')}">
															<img class="img-sm img-thumbnail"
																th:src="@{'/assets/imgs/items/' + ${orderItem.products.mediases[0].name}}"
																width="40" height="40" alt="Item">
														</th:block>
													</div>
													<div class="info">
														<th:block th:text="${orderItem.products.name}">
													</div>
											</a></td>
											<td>$ <th:block th:text="${orderItem.products.price}"></th:block></td>
											<td class="text-center"><th:block
													th:text="${orderItem.quantity}"></th:block></td>
											<td class="text-center"><th:block
													th:each="status : ${orderItemStatuses}">
													<th:block th:if="${orderItem.id == status.orderItemId}">
														<span class="badge rounded-pill"
															th:classappend="${status.statusName == 'Ordered' ? 'alert-info' :
                                   (status.statusName == 'Confirmed' ? 'alert-primary' :
                                   (status.statusName == 'Delivering' ? 'alert-warning' :
                                   (status.statusName == 'Received' ? 'alert-success' :
                                   (status.statusName == 'Canceled' ? 'alert-danger' : ''))))}"
															th:text="${status.statusName}"> </span>
													</th:block>
												</th:block></td>
											<td class="text-end">$ <th:block
													th:text="${orderItem.products.price*orderItem.quantity}"></th:block></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<a class="btn btn-primary no-print"
							href="page-orders-tracking.html">View Order Tracking</a>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>