<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Product List', ~{this :: .content-main})}">

<head>
	<title>Order List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Order List</h2>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<div class="row gx-3">
					<div class="col-lg-4 col-md-6 me-auto">
						
					</div>
					<div class="col-lg-2 col-6 col-md-3">
						
					</div>
					<div class="col-lg-2 col-md-3 col-6">
						<select id="pageSizeSelect" class="form-select"
							onchange="changePageSize()">
							<option th:value="5" th:text="'Show 5'"
								th:selected="${pageSize == 5}"></option>
							<option th:value="10" th:text="'Show 10'"
								th:selected="${pageSize == 10}"></option>
							<option th:value="15" th:text="'Show 15'"
								th:selected="${pageSize == 15}"></option>
						</select>
					</div>

					<script>
						document.addEventListener('DOMContentLoaded', () => {
					        const select = document.getElementById('pageSizeSelect');
					        const urlParams = new URLSearchParams(window.location.search);
					        const pageSize = urlParams.get('pageSize') || '5'; // default là 5
					        select.value = pageSize;
					    });
						function changePageSize() {
						    // Lấy giá trị của option đã chọn
						    const select = document.getElementById('pageSizeSelect');
						    const pageSize = select.value;
						    
						    // Lấy giá trị của trang hiện tại, nếu có
						    const urlParams = new URLSearchParams(window.location.search);
						    const currentPage = urlParams.get('page') || 0; // hoặc giá trị khác tùy ý
						    
						    // Tạo URL mới với tham số page và pageSize
						    const newUrl = new URL(window.location.origin + window.location.pathname);
						    newUrl.searchParams.set('page', currentPage);
						    newUrl.searchParams.set('pageSize', pageSize);
							if (window.location.pathname === '/admin/order/search-by-keyword') {
					           const keyword = urlParams.get('keyword');
					          if (keyword !== null) { 
					                newUrl.searchParams.set('keyword', keyword);
					            }
					       }
											
						    // Tải lại trang với URL mới
						    window.location.href = newUrl.toString();
						}
						// JavaScript to display SweetAlert2 based on flash attributes
					    document.addEventListener('DOMContentLoaded', function() {
					        const sweetAlertStatus = '[[${sweetAlert}]]'; // Access the flash attribute
					        const sweetAlertMessage = '[[${message}]]'; // Access the flash attribute
					
					        if (sweetAlertStatus && sweetAlertMessage) {
					            Swal.fire({
					                icon: sweetAlertStatus, // 'success' or 'error'
					                title: sweetAlertStatus === 'success' ? 'Success!' : 'Oops...',
					                text: sweetAlertMessage,
					                showConfirmButton: false,
					                timer: 3000 // Automatically close after 3 seconds
					            });
					        }
					    });
					</script>
				</div>
			</header>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Total</th>
								<th scope="col">Date</th>
								<th class="text-center" scope="col"> Action</th>
							</tr>
						</thead>
						<tbody>
						<th:block th:if="${orders!=null}">						
							<tr th:each="order : ${orders}">
								<td>
									<b>
										<th:block th:text="${order.users.username}"></th:block>
									</b>
								</td>
								<td>$ <th:block th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 2, 'POINT')}"></th:block></td>
								<td><th:block th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy hh:mm:ss')}"></th:block></td>
								<td  class="text-center">
									<a class="btn rounded btn-brand mr-5" th:href="@{'/admin/order/detail/'+${order.id}}">Detail</a>
								</td>
							</tr>
						</th:block>
							
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<th:block th:if="${keyword!=null && !#lists.isEmpty(orders)}">
			
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/order/search-by-keyword?keyword='+'${keyword}'+'&page=' + ${0}+'&pageSize='+${pageSize}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{'/order/search-by-keyword?keyword='+'${keyword}'+'&page=' + ${currentPages-1}+'&pageSize='+${pageSize}}"
							aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>
	
						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">
	
							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/order/search-by-keyword?keyword='+'${keyword}'+'&page=' + ${i}+'&pageSize='+${pageSize}}"
								th:text="${i + 1}"></a></li>
						</th:block>
	
						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/order/search-by-keyword?keyword='+'${keyword}'+'&page=' + ${currentPages+1}+'&pageSize='+${pageSize}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>
	
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/order/search-by-keyword?keyword='+'${keyword}'+'&page=' + ${lastPageIndex}+'&pageSize='+${pageSize}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
		<th:block th:if="${keyword==null && !#lists.isEmpty(orders)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/admin/order/list?page=' + ${0}+'&pageSize='+${pageSize}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{'/admin/order/list?page=' + ${currentPages-1}+'&pageSize='+${pageSize}}"
							aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/order/list?page=' + ${i}+'&pageSize='+${pageSize}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/order/list?page=' + ${currentPages+1}+'&pageSize='+${pageSize}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/order/list?page=' + ${lastPageIndex}+'&pageSize='+${pageSize}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
	</section>
</body>