<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Category List', ~{this :: .content-main})}">

<head>
<title>Category List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Categories</h2>
				<p>Category List</p>
			</div>
			<div>
				<a th:href="@{/admin/category/add}" class="btn btn-primary"><i
					class="material-icons md-plus"></i>Create category</a>
			</div>
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<div class="row gx-3">
					<div class="col-lg-4 col-md-6 me-auto">
						<input class="form-control" type="text" placeholder="Search...">
					</div>
			</header>
			<!-- card-header end//-->
			<th:block th:if="${categories!=null}">
				<div class="card-body">
					<div
						class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
						<div class="col" th:each="category : ${categories} ">
							<th:block th:if="${category.deletedAt == null}">
								<div class="card card-product-grid">
									<div>
										<a class="img-wrap" href="#"> <img
											class="img-sm img-thumbnail"
											th:src="@{'/assets/imgs/others/' + ${category.photo}}"
											height="300px" width="300px" alt="User pic">
										</a>
									</div>

									<div class="info-wrap">
										<a class="title text-truncate"
											style="font-size: 25; color: black;" href="#"><th:block
												th:text=${category.name}></th:block></a>
										<!-- price.//-->
										<a class="btn btn-sm font-sm rounded btn-brand"
											th:href="@{/admin/category/edit}"><i
											class="material-icons md-edit"></i> Edit</a><a
											class="btn btn-sm font-sm btn-light rounded" href="#"><i
											class="material-icons md-delete_forever"></i> Delete</a>
									</div>
								</div>
								<!-- card-product  end//-->
								<!-- col.//-->
							</th:block>
						</div>
					</div>
				</div>
			</th:block>

		</div>
		<!-- card end//-->
	</section>
</body>