<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Category List', ~{this :: .content-main})}">

<head>
	<title>Category List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Categories</h2>
				<p>Category List</p>
			</div>
			<div>
				<a th:href="@{/admin/category/add}" class="btn btn-primary"><i class="material-icons md-plus"></i>Create
					category</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="">
											</div>
										</th>
										<th>ID</th>
										<th>Name</th>
										<th>Created</th>
										<th>Updated</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="">
											</div>
										</td>
										<td>21</td>
										<td>Men clothes</td>
										<td>11/06/2025</td>
										<td>11/06/2025</td>
										<td class="text-center">
											<div class="dropdown"><a class="btn btn-light rounded btn-sm font-sm"
													href="#" data-bs-toggle="dropdown"><i
														class="material-icons md-more_horiz"></i></a>
												<div class="dropdown-menu">
													<a class="dropdown-item" th:href="@{/admin/category/edit}">Edit
														</a>
													<a class="dropdown-item text-danger" href="#">Delete</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>