
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title,content)"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="msapplication-TileColor" content="#0E0E0E">
<meta name="template-color" content="#0E0E0E">
<meta name="description" content="Index page">
<meta name="keywords" content="index, page">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/imgs/template/favicon.svg}">
<link th:href="@{/client/assets/css/style.css?v=1.0.0}" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<title>E-Ventura</title>
</head>
<body>
	<div id="preloader-active">
		<div
			class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img class="mb-10" th:src="@{/assets/imgs/template/favicon.svg}"
						alt="Ecom">
					<div class="preloader-dots"></div>
				</div>
			</div>
		</div>
	</div>
	<!--header html-->
	<th:block th:replace="~{customer/layouts/header.html}">

	</th:block>

	<!--main html-->
	<th:block th:replace="${content}"></th:block>
	<!--footer html-->
	<th:block th:replace="~{customer/layouts/footer.html}"></th:block>

	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
	<script th:src="@{/client/assets/js/vendors/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/jquery-3.6.0.min.js}"></script>
	<script
		th:src="@{/client/assets/js/vendors/jquery-migrate-3.3.0.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/waypoints.js}"></script>
	<script th:src="@{/client/assets/js/vendors/wow.js}"></script>
	<script th:src="@{/client/assets/js/vendors/magnific-popup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/select2.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/isotope.js}"></script>
	<script th:src="@{/client/assets/js/vendors/scrollup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/swiper-bundle.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/noUISlider.js}"></script>
	<script th:src="@{/client/assets/js/vendors/slider.js}"></script>
	<!-- Count down-->
	<script th:src="@{/client/assets/js/vendors/counterup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/jquery.countdown.min.js}"></script>
	<!-- Count down-->
	<script th:src="@{/client/assets/js/vendors/jquery.elevatezoom.js}"></script>
	<script th:src="@{/client/assets/js/vendors/slick.js}"></script>
	<script th:src="@{/client/assets/js/main.js?v=3.0.0}"></script>
	<script th:src="@{/client/assets/js/shop.js?v=1.2.1}"></script>

</body>
</html>