<header class="main-header navbar">
	<div class="col-search">
		
	</div>
	<div class="col-nav">
		<button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
				class="material-icons md-apps"></i></button>
		<ul class="nav">
			<li class="dropdown nav-item"><a class="dropdown-toggle" id="dropdownAccount" data-bs-toggle="dropdown"
					href="#" aria-expanded="false"><img class="img-xs rounded-circle"
						th:src="@{/assets/imgs/people/avatar2.jpg}" alt="User"></a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
					<div class="dropdown-divider"></div><a class="dropdown-item text-danger" th:href="@{/admin/logout}"><i
							class="material-icons md-exit_to_app"></i>Logout</a>
				</div>
			</li>
		</ul>
	</div>
</header>