<aside class="navbar-aside" id="offcanvas_aside">
	<div class="aside-top"><a class="brand-wrap" th:href="@{/admin/dashboard}"><img class="logo"
				th:src="@{/assets/imgs/theme/logo.svg}" alt="Evara Dashboard"></a>
		<div>
			<button class="btn btn-icon btn-aside-minimize"><i
					class="text-muted material-icons md-menu_open"></i></button>
		</div>
	</div>
	<nav>
		<ul class="menu-aside">
			<li class="menu-item" th:classappend="${currentPage == 'dashboard' ? 'active' : ''}">
				<a class="menu-link" th:href="@{/admin/dashboard}">
					<i class="icon material-icons md-home"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<hr>
			<li class="menu-item" th:classappend="${currentPage == 'category' ? 'active' : ''}">
				<a class="menu-link" th:href="@{/admin/category/list}">
					<i class="icon material-icons md-category"></i>
					<span class="text">Category</span>
				</a>
			</li>
			<li class="menu-item" th:classappend="${currentPage == 'product' ? 'active' : ''}">
				<a class="menu-link" th:href="@{/admin/product/list}">
					<i class="icon material-icons md-shopping_bag"></i>
					<span class="text">Product</span>
				</a>
			</li>
			<li class="menu-item" th:classappend="${currentPage == 'order' ? 'active' : ''}">
				<a class="menu-link" th:href="@{/admin/order/list}">
					<i class="icon material-icons md-shopping_cart"></i>
					<span class="text">Orders</span>
				</a>
			</li>
			<hr>
			<li class="menu-item has-submenu" th:classappend="${currentPage == 'user' ? 'actives' : ''}">
				<a class="menu-link" href="page-orders-1.html">
					<i class="icon material-icons md-person"></i>
					<span class="text">Users</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/customer/list}">Customer List</a>
					<a th:href="@{/admin/vendor/list}">Vendor List</a>
				</div>
			</li>
			<li class="menu-item has-submenu" th:classappend="${currentPage == 'coupon' ? 'actives' : ''}">
				<a class="menu-link" href="">
					<i class="icon material-icons md-confirmation_number"></i>
					<span class="text">Sale</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/coupon/list}">Coupon List</a>
					<a th:href="@{/admin/voucher/list}">Voucher List</a>
				</div>
			</li>
			<hr>
			<li class="menu-item" th:classappend="${currentPage == 'setting' ? 'active' : ''}">
				<a class="menu-link" th:href="@{/admin/commission-setting/list}">
					<i class="icon material-icons md-settings"></i>
					<span class="text">Setting Vendor Type</span>
				</a>
			</li>
		</ul>
	</nav>
</aside>