<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Voucher List', ~{this :: .content-main})}">

<head>
	<title>Voucher List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Vouchers</h2>
				<p>Voucher List</p>
			</div>
			<div>
				<a th:href="@{/admin/Voucher/add}" class="btn btn-primary"><i class="material-icons md-plus"></i>Create
					Voucher</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="">
											</div>
										</th>
										<th>ID</th>
										<th>Name</th>
										<th>Description</th>
										<th>Slug</th>
										<th class="text-center">Status</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="">
											</div>
										</td>
										<td>21</td>
										<td><b>Men clothes</b></td>
										<td>Men clothes</td>
										<td>/men</td>
										<td style="width: 0;">
											<form>
												<label class="switch">
													<input type="checkbox" checked>
													<span class="slider round"></span>
												</label>
											</form>

										</td>
										<td class="text-center">
											<div class="dropdown"><a class="btn btn-light rounded btn-sm font-sm"
													href="#" data-bs-toggle="dropdown"><i
														class="material-icons md-more_horiz"></i></a>
												<div class="dropdown-menu">
													<a class="dropdown-item" th:href="@{/admin/Voucher/edit}">Edit</a>
													<a class="dropdown-item text-danger" href="#">Delete</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>