<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="msapplication-TileColor" content="#0E0E0E">
<meta name="template-color" content="#0E0E0E">
<meta name="description" content="Index page">
<meta name="keywords" content="index, page">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/imgs/template/favicon.svg}">
<link th:href="@{/client/assets/css/style.css?v=3.0.0}" rel="stylesheet">
<title>Login - Ecom Marketplace Template</title>
</head>
<body>
	<div id="preloader-active">
		<div
			class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img class="mb-10"
						th:src="@{/assets/imgs/template/favicon.svg}" alt="Ecom">
					<div class="preloader-dots"></div>
				</div>
			</div>
		</div>
	</div>

	<header class="header sticky-bar">
		<div class="container">
			<div class="main-header">
				<div class="header-left">
					<div class="header-logo">
						<a class="d-flex" th:href="@{/customer/home}"><img alt="Ecom"
							th:src="@{/assets/imgs/template/logo.svg}"></a>
					</div>

				</div>
			</div>
		</div>
	</header>
	<div
		class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
		<div class="mobile-header-wrapper-inner">
			<div class="mobile-header-content-area">
				<div class="mobile-logo">
					<a class="d-flex" th:href="@{/customer/home}"><img alt="Ecom"
						th:src="@{/assets/imgs/template/logo.svg}"></a>
				</div>

			</div>
		</div>
	</div>

	<div
		class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
		<div class="mobile-header-wrapper-inner">
			<div class="mobile-header-content-area">
				<div class="mobile-logo">
					<a class="d-flex" th:href="@{/customer/home}"><img alt="Ecom"
						th:src="@{/assets/imgs/template/logo.svg}"></a>
				</div>

			</div>
		</div>
	</div>
	<main class="main">
		<section class="section-box shop-template mt-60">
			<div class="container">
				<div class="row mb-100">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">
						<h3>Admin Login</h3>
						<h5 th:text="${msg}" class="text-danger"></h5>
						<form method="post" th:action="@{/admin/process-login}">
							<div class="form-register mt-30 mb-30">
								<div class="form-group">
									<label class="mb-5 font-sm color-gray-700">Admin</label> <input
										class="form-control" type="text" name="email">
								</div>
								<div class="form-group">
									<label class="mb-5 font-sm color-gray-700">Password</label> <input
										class="form-control" type="password" name="password">
								</div>
								<div class="form-group">
									<input class="font-md-bold btn btn-buy" type="submit"
										value="Sign In">
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
			
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
			<script>
				// JavaScript to display SweetAlert2 based on flash attributes
				document.addEventListener('DOMContentLoaded', function () {
					const sweetAlertStatus = '[[${sweetAlert}]]'; // Access the flash attribute
					const sweetAlertMessage = '[[${message}]]'; // Access the flash attribute

					if (sweetAlertStatus && sweetAlertMessage) {
						Swal.fire({
							icon: sweetAlertStatus, // 'success' or 'error'
							title: sweetAlertStatus === 'success' ? 'Success!' : 'Oops...',
							text: sweetAlertMessage,
							showConfirmButton: false,
							timer: 3000 // Automatically close after 3 seconds
						});
					}
				});
			</script>
		</section>

	</main>

	<script th:src="@{/client/assets/js/vendors/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/jquery-3.6.0.min.js}"></script>
	<script
		th:src="@{/client/assets/js/vendors/jquery-migrate-3.3.0.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/waypoints.js}"></script>
	<script th:src="@{/client/assets/js/vendors/wow.js}"></script>
	<script th:src="@{/client/assets/js/vendors/magnific-popup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/select2.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/isotope.js}"></script>
	<script th:src="@{/client/assets/js/vendors/scrollup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/swiper-bundle.min.js}"></script>
	<script th:src="@{/client/assets/js/vendors/noUISlider.js}"></script>
	<script th:src="@{/client/assets/js/vendors/slider.js}"></script>
	<!-- Count down-->
	<script th:src="@{/client/assets/js/vendors/counterup.js}"></script>
	<script th:src="@{/client/assets/js/vendors/jquery.countdown.min.js}"></script>
	<!-- Count down-->
	<script th:src="@{/client/assets/js/vendors/jquery.elevatezoom.js}"></script>
	<script th:src="@{/client/assets/js/vendors/slick.js}"></script>
	<script th:src="@{/client/assets/js/main.js?v=3.0.0}"></script>
	<script th:src="@{/client/assets/js/shop.js?v=1.2.1}"></script>
</body>
</html>