<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Coupon List', ~{this :: .content-main})}">

<head>
<title>Coupon List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Coupons</h2>
				<p>Coupon List</p>
			</div>
			<div>
				<a th:href="@{/admin/coupon/add}" class="btn btn-primary"><i
					class="material-icons md-plus"></i>Create coupon</a>
			</div>
		</div>
		<header class="card-header">
			<div class="row gx-3">
				<div class="col-lg-6 col-md-6 me-auto">
					<form method="get"
						th:action="@{/admin/coupon/search-by-keyword}"
						id="productSearchForm">
						<input class="form-control font-xs" type="text" value=""
							placeholder="Search....." name="keyword"
							id="productSearchKeyword">
					</form>
					<script>
						document.getElementById('productSearchKeyword').addEventListener('keyup', function(event) {									
							 if (event.key === 'Enter' || event.keyCode === 13) {
						        document.getElementById('productSearchForm').submit();
						    }
                           });
					</script>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<form id="vendorSearchForm" method="get"
						th:action="@{/admin/coupon/search-by-vendor}">
						<select class="form-select" name="vendorId" id="vendorSelect">
							<option th:value="0" th:selected="${selectedVendorId == 0}">All
								Vendor</option>
							<option th:each="vendor : ${vendors}"
								th:if="${vendor.users.deletedAt==null}" th:value="${vendor.id}"
								th:text="${vendor.name}"
								th:selected="${vendor.id == selectedVendorId}"></option>
						</select>
					</form>
					<script>
						    document.getElementById('vendorSelect').addEventListener('change', function() {
						        document.getElementById('vendorSearchForm').submit();
						    });
						</script>
				</div>
				<div class="col-lg-2 col-6 col-md-3">
					<form method="GET" th:action="@{/admin/coupon/list}">
						<select class="form-select" name="filter"
							onchange="this.form.submit()">
							<option value="show_all" th:selected="${filter == 'show_all'}">Status
								all</option>
							<option value="valid" th:selected="${filter == 'valid'}">Valid</option>
							<option value="invalid" th:selected="${filter == 'invalid'}">Invalid</option>
							<option value="expired" th:selected="${filter == 'expired'}">Expired</option>
						</select>
					</form>
				</div>
				<div class="col-lg-2 col-md-3 col-6">
					<select id="pageSizeSelect" class="form-select"
						onchange="changePageSize()">
						<option th:value="5" th:text="'Show 5'"
							th:selected="${pageSize == 5}"></option>
						<option th:value="20" th:text="'Show 20'"
							th:selected="${pageSize == 20}"></option>
						<option th:value="30" th:text="'Show 30'"
							th:selected="${pageSize == 30}"></option>
					</select>
				</div>

				<script>
						document.addEventListener('DOMContentLoaded', () => {
					        const select = document.getElementById('pageSizeSelect');
					        const urlParams = new URLSearchParams(window.location.search);
					        const pageSize = urlParams.get('pageSize') || '5'; // default là 5
					        select.value = pageSize;
					    });
						function changePageSize() {
						    // Lấy giá trị của option đã chọn
						    const select = document.getElementById('pageSizeSelect');
						    const pageSize = select.value;
						    
						    // Lấy giá trị của trang hiện tại, nếu có
						    const urlParams = new URLSearchParams(window.location.search);
						    const currentPage = urlParams.get('page') || 0; // hoặc giá trị khác tùy ý
						    
						    // Tạo URL mới với tham số page và pageSize
						    const newUrl = new URL(window.location.origin + window.location.pathname);
						    newUrl.searchParams.set('page', currentPage);
						    newUrl.searchParams.set('pageSize', pageSize);
							if (window.location.pathname === '/admin/coupon/search-by-keyword') {
					       		const keyword = urlParams.get('keyword');
					          	if (keyword !== null) { 
					                newUrl.searchParams.set('keyword', keyword);
					          	}
					       	}
							if (window.location.pathname === '/admin/coupon/search-by-vendor') {
					        	const vendorId = urlParams.get('vendorId');
					          	if (vendorId !== null) { 
					                newUrl.searchParams.set('vendorId', vendorId);
					          	}
					       	}
											
						    // Tải lại trang với URL mới
						    window.location.href = newUrl.toString();
						}
						// JavaScript to display SweetAlert2 based on flash attributes
					   	// document.addEventListener('DOMContentLoaded', function() {
					   	//     const sweetAlertStatus = '[[${sweetAlert}]]'; // Access the flash attribute
					    //    const sweetAlertMessage = '[[${message}]]'; // Access the flash attribute
						//
					    //    if (sweetAlertStatus && sweetAlertMessage) {
					    //        Swal.fire({
					    //            icon: sweetAlertStatus, // 'success' or 'error'
					    //            title: sweetAlertStatus === 'success' ? 'Success!' : 'Oops...',
					    //            text: sweetAlertMessage,
					    //            showConfirmButton: false,
					    //            timer: 3000 // Automatically close after 3 seconds
					    //        });
					    //    }
					    //});
					</script>

			</div>
		</header>
		<div class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Product</th>
										<th>Vendor</th>
										<th>Discount Value</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Status</th>
										<th class="text-center">Enable</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="coupon : ${coupons}">
										<td><a class="itemside"
											th:href="@{'/admin/product/detail/'+${coupon.products.id}}">
												<div class="left">
													<th:block
														th:if="${coupon.products.mediases[0].name.contains('https:')}">
														<img class="img-sm img-thumbnail"
															th:src="${coupon.products.mediases[0].name}" alt="Item">
													</th:block>
													<th:block
														th:if="${!coupon.products.mediases[0].name.contains('https:')}">
														<img class="img-sm img-thumbnail"
															th:src="@{'/assets/imgs/items/' + ${coupon.products.mediases[0].name}}"
															alt="Item">
													</th:block>

												</div>
												<div class="info">
													<h6 class="mb-0">
														<th:block th:text="${coupon.products.name}"></th:block>
													</h6>
												</div>
										</a></td>
										<td><a class="itemside"
											th:href="@{'/admin/vendor/detail/'+${coupon.vendors.id}}">
												<th:block th:text="${coupon.vendors.name}"></th:block>
										</a></td>
										<td th:if="${coupon.discountUnit == 'percent'}"><th:block
												th:text="${#numbers.formatDecimal(coupon.discountValue * 100, 0, 0)}"></th:block>%
										</td>
										<td th:if="${coupon.discountUnit == 'money'}">$ <th:block
												th:text="${coupon.discountValue}"></th:block>
										</td>
										<td><th:block
												th:text="${#dates.format(coupon.startTime, 'dd/MM/yyyy HH:mm:ss')}"></th:block>
										</td>
										<td><th:block
												th:text="${#dates.format(coupon.endTime, 'dd/MM/yyyy HH:mm:ss')}"></th:block>
										</td>
										<td
											th:if="${#dates.format(coupon.startTime, 'yyyyMMddHHmmss') >= #dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}">
											<span class="badge rounded-pill alert-warning"> <th:block
													th:text="${'Invalid'}"></th:block>
										</span>
										</td>
										<td
											th:if="${#dates.format(coupon.startTime, 'yyyyMMddHHmmss') <= #dates.format(#dates.createNow(), 'yyyyMMddHHmmss') && #dates.format(coupon.endTime, 'yyyyMMddHHmmss') >= #dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}">
											<span class="badge rounded-pill alert-success"> <th:block
													th:text="${'Valid'}"></th:block>
										</span>
										</td>
										<td
											th:if="${#dates.format(coupon.endTime, 'yyyyMMddHHmmss') <= #dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}">
											<span class="badge rounded-pill alert-danger"> <th:block
													th:text="${'Expired'}"></th:block>
										</span>
										</td>


										<td style="width: 0;">
											<form>
												<label class="switch"> <input type="checkbox"
													th:checked="${coupon.redeemAllowed}"
													th:data-coupon-id="${coupon.id}"
													onchange="toggleRedeemAllowed(this)"> <span
													class="slider round"></span>
												</label>
											</form>
											<script>
												function toggleRedeemAllowed(checkbox) {
													const couponId = checkbox.dataset.couponId;
													const redeemAllowed = checkbox.checked;
											
													fetch(`/admin/coupon/updateRedeemAllowed/${couponId}`, {
														method: 'POST', // or 'PUT' depending on your API design
														headers: {
															'Content-Type': 'application/json',
														},
														body: JSON.stringify({ redeemAllowed: redeemAllowed }),
													})
													.then(response => {
														if (!response.ok) {
															// If the response is not OK, throw an error to be caught by .catch()
															return response.json().then(errorData => {
																throw new Error(errorData.message || 'Failed to update coupon status.');
															});
														}
														return response.json(); // Or response.text() if your controller returns a string
													})
													.then(data => {
														Swal.fire({
															icon: 'success',
															title: 'Success!',
															text: 'Coupon status updated successfully.',
															showConfirmButton: false,
															timer: 3000
														});
														console.log('Success:', data);
													})
													.catch((error) => {
														Swal.fire({
															icon: 'error',
															title: 'Oops...',
															text: error.message || 'There was an error updating the coupon status.',
															showConfirmButton: false,
															timer: 3000
														});
														console.error('Error:', error);
														// Revert the checkbox state if the update failed
														checkbox.checked = !redeemAllowed;
													});
												}
											</script>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- coupon by vendor id-->
							<th:block th:if="${selectedVendorId != null && keyword == null && !#lists.isEmpty(coupons)}">
								<div class="pagination-area mt-15 mb-50">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-start">
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'hidden'"><a
												class="page-link"
												th:href="@{'/admin/coupon/search-by-vendor?vendorId='+ ${selectedVendorId} +'&page=' + ${0}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-double_arrow"
													style="transform: rotate(180deg) translate(15%, -30%);"></i>
											</a></li>
											<!-- Nút trước -->
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'disabled'"><a
												class="page-link"
												th:href="@{'/admin/coupon/search-by-vendor?vendorId='+ ${selectedVendorId} +'&page=' + ${currentPages-1}+'&pageSize='+${pageSize}}"
												aria-label="Previous"> <i
													class="material-icons md-chevron_left"></i>
											</a></li>

											<!-- Các trang -->
											<th:block
												th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

												<li class="page-item"
													th:classappend="${i} == ${currentPages} ? 'active'"><a
													class="page-link"
													th:href="@{'/admin/coupon/search-by-vendor?vendorId='+ ${selectedVendorId} +'&page=' + ${i}+'&pageSize='+${pageSize}}"
													th:text="${i + 1}"></a></li>
											</th:block>

											<!-- Nút tiếp -->
											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
												<a class="page-link"
												th:href="@{'/admin/coupon/search-by-vendor?vendorId='+ ${selectedVendorId} +'&page=' + ${currentPages+1}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-chevron_right"></i>
											</a>
											</li>

											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
												<a class="page-link"
												th:href="@{'/admin/coupon/search-by-vendor?vendorId='+ ${selectedVendorId} +'&page=' + ${lastPageIndex}+'&pageSize='+${pageSize}}"
												aria-label="Next"><i
													class="material-icons md-double_arrow"></i> </a>
											</li>
										</ul>
									</nav>
								</div>
							</th:block>
							<!-- coupon by keyword -->
							<th:block th:if="${keyword != null && selectedVendorId == null && !#lists.isEmpty(coupons)}">
								<div class="pagination-area mt-15 mb-50">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-start">
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'hidden'"><a
												class="page-link"
												th:href="@{'/admin/coupon/search-by-keyword?keyword='+ ${keyword} +'&page=' + ${0}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-double_arrow"
													style="transform: rotate(180deg) translate(15%, -30%);"></i>
											</a></li>
											<!-- Nút trước -->
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'disabled'"><a
												class="page-link"
												th:href="@{'/admin/coupon/search-by-keyword?keyword='+ ${keyword} +'&page=' + ${currentPages-1}+'&pageSize='+${pageSize}}"
												aria-label="Previous"> <i
													class="material-icons md-chevron_left"></i>
											</a></li>

											<!-- Các trang -->
											<th:block
												th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

												<li class="page-item"
													th:classappend="${i} == ${currentPages} ? 'active'"><a
													class="page-link"
													th:href="@{'/admin/coupon/search-by-keyword?keyword='+ ${keyword} +'&page=' + ${i}+'&pageSize='+${pageSize}}"
													th:text="${i + 1}"></a></li>
											</th:block>

											<!-- Nút tiếp -->
											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
												<a class="page-link"
												th:href="@{'/admin/coupon/search-by-keyword?keyword='+ ${keyword} +'&page=' + ${currentPages+1}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-chevron_right"></i>
											</a>
											</li>

											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
												<a class="page-link"
												th:href="@{'/admin/coupon/search-by-keyword?keyword='+ ${keyword} +'&page=' + ${lastPageIndex}+'&pageSize='+${pageSize}}"
												aria-label="Next"><i
													class="material-icons md-double_arrow"></i> </a>
											</li>
										</ul>
									</nav>
								</div>
							</th:block>
							<!-- all coupon -->
							<th:block th:if="${keyword == null && selectedVendorId == null && !#lists.isEmpty(coupons)}">
								<div class="pagination-area mt-15 mb-50">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-start">
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'hidden'"><a
												class="page-link"
												th:href="@{'/admin/coupon/list?page=' + ${0}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-double_arrow"
													style="transform: rotate(180deg) translate(15%, -30%);"></i>
											</a></li>
											<!-- Nút trước -->
											<li class="page-item"
												th:classappend="${currentPages == 0} ? 'disabled'"><a
												class="page-link"
												th:href="@{'/admin/coupon/list?page=' + ${currentPages-1}+'&pageSize='+${pageSize}}"
												aria-label="Previous"> <i
													class="material-icons md-chevron_left"></i>
											</a></li>

											<!-- Các trang -->
											<th:block
												th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

												<li class="page-item"
													th:classappend="${i} == ${currentPages} ? 'active'"><a
													class="page-link"
													th:href="@{'/admin/coupon/list?page=' + ${i}+'&pageSize='+${pageSize}}"
													th:text="${i + 1}"></a></li>
											</th:block>

											<!-- Nút tiếp -->
											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
												<a class="page-link"
												th:href="@{'/admin/coupon/list?page=' + ${currentPages+1}+'&pageSize='+${pageSize}}"
												aria-label="Next"> <i
													class="material-icons md-chevron_right"></i>
											</a>
											</li>

											<li class="page-item"
												th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
												<a class="page-link"
												th:href="@{'/admin/coupon/list?page=' + ${lastPageIndex}+'&pageSize='+${pageSize}}"
												aria-label="Next"><i
													class="material-icons md-double_arrow"></i> </a>
											</li>
										</ul>
									</nav>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>