<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Product List', ~{this :: .content-main})}">

<head>
<title>Product List</title>

</head>

<body>
	<th:block class="content-main">
		<link th:href="@{/client/assets/css/style.css?v=1.0.0}"
			rel="stylesheet">
		<main class="main">
			<section class="section-box shop-template mt-10">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="gallery-image">
								<div class="galleries">
									<div class="detail-gallery">
										<div class="product-image-slider">
											<th:block th:if=${product.mediases!=null}>
												<figure class="border-radius-10"
													th:each="media : ${product.mediases}">
													<th:block th:if="${media.name.contains('https:')}">
														<img th:src="${media.name}" alt="User pic">
													</th:block>
													<th:block th:if="${!media.name.contains('https:')}">
														<img th:src="@{'/assets/imgs/others/' + ${media.name}}"
															alt="User pic">
													</th:block>
												</figure>
											</th:block>
										</div>
									</div>
									<div class="slider-nav-thumbnails">
										<th:block th:if=${product.mediases!=null}>
											<div th:each="media : ${product.mediases}">
												<div class="item-thumb" style="height: auto; width: auto;">
													<th:block th:if="${media.name.contains('https:')}">
														<img th:src="${media.name}" alt="User pic">
													</th:block>
													<th:block th:if="${!media.name.contains('https:')}">
														<img th:src="@{'/assets/imgs/others/' + ${media.name}}"
															alt="User pic">
													</th:block>
												</div>
											</div>
										</th:block>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<h3 class="color-brand-3 mb-25">
								<th:block th:text="${product.name}"></th:block>
							</h3>
							<div class="row align-items-center">
								<div class="col-lg-4 col-md-4 col-sm-3 mb-mobile">

									<div class="rating mt-5">
										<th:block
											th:with="width=${avgProductReview > 0 ? widthProduct : 0}">
											<ul class="rating-stars">
												<li class="stars-active"
													th:style="'width:' + ${widthProduct} + '%'"><img
													th:src="@{/assets/imgs/icons/stars-active.svg}" alt="stars"
													style="height: 20px;"></li>
												<li><img
													th:src="@{/assets/imgs/icons/starts-disable.svg}"
													alt="stars" style="height: 20px;"></li>
											</ul>
										</th:block>
										<span class="font-xs color-gray-500 font-medium"> (<th:block
												th:text="${countProductReview}"></th:block> reviews)
										</span>
									</div>
								</div>
							</div>
							<div class="border-bottom pt-10 mb-20"></div>
							<div class="box-product-price">
								<h3 class="color-brand-3 price-main d-inline-block mr-10">
									$
									<th:block th:text="${product.price}"></th:block>
								</h3>
							</div>
							<div class="box-product-color mt-20">
								<p class="font-sm color-gray-900">
									Color:<span class="color-brand-2 nameColor">Pink Gold</span>
								</p>
								<ul class="list-colors">
									<li class="disabled"><img
										th:src="@{/assets/imgs/page/product/img-gallery-1.jpg}"
										alt="Ecom" title="Pink"></li>
									<li><img
										th:src="@{/assets/imgs/page/product/img-gallery-2.jpg}"
										alt="Ecom" title="Gold"></li>
									<li><img
										th:src="@{/assets/imgs/page/product/img-gallery-3.jpg}"
										alt="Ecom" title="Pink Gold"></li>
									<li><img
										th:src="@{/assets/imgs/page/product/img-gallery-4.jpg}"
										alt="Ecom" title="Silver"></li>
									<li class="active"><img
										th:src="@{/assets/imgs/page/product/img-gallery-5.jpg}"
										alt="Ecom" title="Pink Gold"></li>
									<li class="disabled"><img
										th:src="@{/assets/imgs/page/product/img-gallery-6.jpg}"
										alt="Ecom" title="Black"></li>
									<li class="disabled"><img
										th:src="@{/assets/imgs/page/product/img-gallery-7.jpg}"
										alt="Ecom" title="Red"></li>
								</ul>
							</div>
							<div class="box-product-style-size mt-20">
								<div class="row">
									<div class="col-lg-6 col-md-6 mb-20">
										<p class="font-sm color-gray-900">
											Style:<span class="color-brand-2 nameStyle">S22</span>
										</p>
										<ul class="list-styles">
											<li class="disabled" title="S22 Ultra">S22 Ultra</li>
											<li class="active" title="S22">S22</li>
											<li title="S22 + Standing Cover">S22 + Standing Cover</li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6 mb-20">
										<p class="font-sm color-gray-900">
											Size:<span class="color-brand-2 nameSize">512GB</span>
										</p>
										<ul class="list-sizes">
											<li class="disabled" title="1GB">1GB</li>
											<li class="active" title="512 GB">512 GB</li>
											<li title="256 GB">256 GB</li>
											<li title="128 GB">128 GB</li>
											<li class="disabled" title="64GB">64GB</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="buy-product mt-30">
								<p class="font-sm mb-20">Quantity</p>
								<div class="box-quantity">
									<div class="input-quantity">
										<span class="font-xl color-brand-3"><th:block
												th:text="${product.quantity}"></th:block></span>
									</div>
								</div>
							</div>
							<div class="info-product mt-40">
								<div class="row">
									<div class="col-lg-4 col-md-4 mb-20">
										<span class="font-sm font-medium color-gray-900">
											Category: <span class="color-gray-500"> <th:block
													th:text="${product.productCategories.name}"></th:block>
										</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-bottom pt-30 mb-40"></div>
			</section>


			<section class="section-box shop-template">
				<div class="container">
					<div class="pt-30 mb-30">
						<ul class="nav nav-tabs nav-tabs-product" role="tablist">
							<li><a class="active" href="#tab-description"
								data-bs-toggle="tab" role="tab" aria-controls="tab-description"
								aria-selected="true">Description</a></li>
							<li><a href="#tab-reviews" data-bs-toggle="tab" role="tab"
								aria-controls="tab-reviews" aria-selected="true">Reviews (<th:block
										th:text="${countProductReview}"></th:block>)
							</a></li>
							<li><a href="#tab-vendor" data-bs-toggle="tab" role="tab"
								aria-controls="tab-vendor" aria-selected="true">Vendor</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active show" id="tab-description"
								role="tabpanel" aria-labelledby="tab-description">
								<div class="display-text-short">
									<th:block th:text="${product.description}"></th:block>
								</div>
								<div class="mt-20 text-center">
									<a
										class="btn btn-border font-sm-bold pl-80 pr-80 btn-expand-more">More
										Details</a>
								</div>
							</div>
							<div class="tab-pane fade" id="tab-reviews" role="tabpanel"
								aria-labelledby="tab-reviews">
								<div class="comments-area">
									<div class="row">
										<div class="col-lg-8">
											<h4 class="mb-30 title-question">Customer comment</h4>
											<div class="comment-list">
												<th:block th:if="productReviews!=null">
													<div
														class="single-comment justify-content-between d-flex mb-30 hover-up"
														th:each="productReview : ${productReviews}">
														<div class="user justify-content-between d-flex">
															<div class="thumb text-center">
																<a class="itemside" href="#"
																	style="flex-direction: column;">
																	<div class="left">
																		<th:block
																			th:if="${productReview.users.avatar.contains('https:')}">
																			<img class="img-md img-avatar"
																				th:src="${productReview.users.avatar}"
																				alt="User pic">
																		</th:block>
																		<th:block
																			th:if="${!productReview.users.avatar.contains('https:')}">
																			<img class="img-md img-avatar"
																				th:src="@{'/assets/imgs/avatars/' + ${productReview.users.avatar}}"
																				alt="User pic">
																		</th:block>
																	</div>
																	<div class="info pl-3">
																		<h6 class="mb-0 title">
																			<th:block th:text="${productReview.users.username}"></th:block>
																		</h6>
																	</div>
																</a>
															</div>
															<div class="desc">
																<div class="d-flex justify-content-between mb-10">
																	<div class="d-flex align-items-center">
																		<span class="font-xs color-gray-700"><th:block
																				th:text="${#dates.format(productReview.createdAt, 'MMMM d, yyyy')}+ ' at ' + ${#dates.format(productReview.createdAt, 'h:mm a')}"></th:block></span>
																	</div>
																	<div class="d-inline-block mx-2">
																		<th:block
																			th:with="displayRating=${productReview.rating != null ? productReview.rating : 0}, cappedRating=${displayRating > 5 ? 5 : displayRating}, width=${cappedRating * 20}">
																			<ul class="rating-stars">
																				<li class="stars-active"
																					th:style="'width:' + ${width} + '%'"><img
																					th:src="@{/assets/imgs/icons/stars-active.svg}"
																					alt="stars" style="height: 20px;"></li>
																				<li><img
																					th:src="@{/assets/imgs/icons/starts-disable.svg}"
																					alt="stars" style="height: 20px;"></li>
																			</ul>
																		</th:block>

																	</div>
																</div>
																<p class="mb-10 font-sm color-gray-900">
																	<th:block th:text="${productReview.comment}"></th:block>
																</p>
															</div>
														</div>
													</div>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab-vendor" role="tabpanel"
								aria-labelledby="tab-vendor">
								<a class="vendor-logo d-flex mb-30" th:href="@{'/admin/vendor/detail/'+${product.vendors.users.id}}">
									<th:block
										th:if="${product.vendors.users.avatar.contains('https:')}">
										<img class="img-md img-avatar"
											th:src="${product.vendors.users.avatar}" alt="User pic">
									</th:block>
									<th:block
										th:if="${!product.vendors.users.avatar.contains('https:')}">
										<img class="img-md img-avatar"
											th:src="@{'/assets/imgs/avatars/' + ${product.vendors.users.avatar}}"
											alt="User pic">
									</th:block>

									<div class="vendor-name ml-15">
										<h6>
											<th:block th:text="${product.vendors.name}"></th:block>
										</h6>
										<div class="product-rate-cover text-end">
											<div class="rating mt-5">
												<th:block
													th:with="width=${avgVendorReview > 0 ? widthVendor : 0}">
													<ul class="rating-stars">
														<li class="stars-active"
															th:style="'width:' + ${widthVendor} + '%'"><img
															th:src="@{/assets/imgs/icons/stars-active.svg}"
															alt="stars" style="height: 20px;"></li>
														<li><img
															th:src="@{/assets/imgs/icons/starts-disable.svg}"
															alt="stars" style="height: 20px;"></li>
													</ul>
												</th:block>
												<span class="font-xs color-gray-500 font-medium"> (<th:block
														th:text="${countVendorReview}"></th:block> reviews)
												</span>
											</div>
										</div>
									</div>
								</a>
								<ul class="contact-infor mb-50">
									<li><img
										th:src="@{/assets/imgs/page/product/icon-location.svg}" alt=""><strong>Address:</strong><span>
											<th:block th:each="vendorAddress : ${vendorAddresses}"
												th:text="${vendorAddress.address}+' '+${vendorAddress.wards.administrativeUnits.shortName}+' '+${vendorAddress.wards.name}+' '+${vendorAddress.districts.administrativeUnits.shortName}+' '+${vendorAddress.districts.name}+' '+${vendorAddress.provinces.administrativeUnits.shortName}+' '+${vendorAddress.provinces.name}"></th:block>
									</span></li>
									<li><img
										th:src="@{/assets/imgs/page/product/icon-contact.svg}" alt=""><strong>Contact
											Seller:</strong><span> <th:block
												th:text="${product.vendors.users.phoneNumber}"></th:block></span></li>
								</ul>
								<div class="d-flex mb-25">
									<div class="mr-30">
										<p class="color-brand-1 font-xs">Rating</p>
										<h4 class="mb-0">
											<tH:block
												th:text="${#numbers.formatDecimal((avgVendorReview/5)*100, 0, 'COMMA', 0, 'POINT')}"></tH:block>
											%
										</h4>
									</div>
									<div class="mr-30">
										<p class="color-brand-1 font-xs">Ship on time</p>
										<h4 class="mb-0">100%</h4>
									</div>
									<div>
										<p class="color-brand-1 font-xs">Chat response</p>
										<h4 class="mb-0">89%</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script th:src="@{/client/assets/js/vendors/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/client/assets/js/vendors/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/client/assets/js/vendors/perfect-scrollbar.min.js}"></script>
		<script th:src="@{/client/assets/js/vendors/jquery.elevatezoom.js}"></script>
		<script th:src="@{/client/assets/js/vendors/slick.js}"></script>
		<script th:src="@{/client/assets/js/shop.js?v=1.2.1}"></script>
	</th:block>
</body>