<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Product List', ~{this :: .content-main})}">

<head>
<title>Product List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Products List</h2>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div>
				<a class="btn btn-primary" th:href="@{/admin/product/add}"><i
					class="material-icons md-plus"></i> Create Product</a>
			</div>
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<div class="row align-items-center">
					<div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
						<label>&nbsp;</label>
						<form id="categorySearchForm" method="get"
							th:action="@{/admin/product/search-by-category}">
							<select class="form-select" name="categoryId" id="categorySelect">
								<option value="0" th:selected="${selectedCategoryId == 0}">All
									category</option>
								<option th:each="category : ${categories}"
									th:value="${category.id}" th:text="${category.name}"
									th:selected="${category.id == selectedCategoryId}"></option>
							</select>
						</form>
						<script>
						    document.getElementById('categorySelect').addEventListener('change', function() {
						        document.getElementById('categorySearchForm').submit();
						    });
						</script>
					</div>
					<div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
						<label>&nbsp;</label>
						<form id="vendorSearchForm" method="get"
							th:action="@{/admin/product/search-by-vendor}">
							<select class="form-select" name="vendorId" id="vendorSelect">
								<option value="0" th:selected="${selectedVendorId == 0}">All
									Vendor</option>
								<option th:each="vendor : ${vendors}" th:value="${vendor.id}"
									th:text="${vendor.name}"
									th:selected="${vendor.id == selectedVendorId}"></option>
							</select>
						</form>
						<script>
						    document.getElementById('vendorSelect').addEventListener('change', function() {
						        document.getElementById('vendorSearchForm').submit();
						    });
						</script>
					</div>
					<div class="col-md-2 col-6">
						<label>Start date: </label> <input class="form-control"
							type="date" value="02.05.2022">
					</div>
					<div class="col-md-2 col-6">
						<label>End date: </label> <input class="form-control" type="date"
							value="02.05.2022">
					</div>

				</div>
			</header>
			<!-- card-header end//-->
			<div class="card-body">
				<th:block th:if="${products!=null}">
					<article class="itemlist" th:each="product : ${products}">
						<th:block th:if="${product.deletedAt==null}">
							<div class="row align-items-center">
								<div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
									<a class="itemside" href="#">
										<div class="left">
											<th:block
												th:if="${product.mediases[0].name.contains('https:')}">
												<img class="img-sm img-thumbnail" th:src="${product.mediases[0].name}" alt="Item">
											</th:block>
											<th:block
												th:if="${!product.mediases[0].name.contains('https:')}">
												<img class="img-sm img-thumbnail" th:src="@{'/admin/assets/imgs/others/' + ${product.mediases[0].name}}" alt="Item">
											</th:block>
											
										</div>
										<div class="info">
											<h6 class="mb-0">
												<th:block th:text="${product.name}"></th:block>
											</h6>
										</div>
									</a>
								</div>
								<div class="col-lg-2 col-sm-2 col-4 col-price">
									<span>$<th:block th:text="${product.price}"></th:block></span>
								</div>
								<div class="col-lg-2 col-sm-2 col-4 col-status">
									<th:block
										th:text="${#strings.substring(product.description, 0, 10) + '...'}"></th:block>
								</div>
								<div class="col-lg-1 col-sm-2 col-4 col-date">
									<span><th:block th:text="${product.vendors.name}"></th:block></span>
								</div>
								<div class="col-lg-2 col-sm-2 col-4 col-action text-end">
									<a class="btn btn-sm font-sm rounded btn-brand mr-5"
										th:href="@{/admin/product/edit}"><i
										class="material-icons md-edit"></i> Edit</a><a
										class="btn btn-sm font-sm btn-light rounded" href="#"><i
										class="material-icons md-delete_forever"></i> Delete</a>
								</div>
							</div>
							<!-- row .//-->
							<!-- itemlist  .//-->
						</th:block>
					</article>
				</th:block>

			</div>
		</div>
		<!-- card end
		<div class="pagination-area mt-30 mb-50">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-start">
					<li class="page-item active"><a class="page-link" href="#">01</a></li>
					<li class="page-item"><a class="page-link" href="#">02</a></li>
					<li class="page-item"><a class="page-link" href="#">03</a></li>
					<li class="page-item"><a class="page-link dot" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">16</a></li>
					<li class="page-item"><a class="page-link" href="#"><i
								class="material-icons md-chevron_right"></i></a></li>
				</ul>
			</nav>
		</div>//-->

	</section>
</body>