<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layouts/layout :: layout('Product List', ~{this :: .content-main})}">

<head>
<title>Product List</title>
</head>

<body>
	<section class="content-main">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">Products List</h2>
				<p>Product List</p>
			</div>
			<div></div>
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<div class="row align-items-center">
					<div class="col-md-6 col-6">
						<form method="get"
							th:action="@{/admin/product/search-by-keyword}"
							id="productSearchForm">
							<input class="form-control font-xs" type="text" value=""
								placeholder="Search....." name="keyword"
								id="productSearchKeyword">
						</form>
						<script>
							document.getElementById('productSearchKeyword').addEventListener('keyup', function(event) {									
								 if (event.key === 'Enter' || event.keyCode === 13) {
							        document.getElementById('productSearchForm').submit();
							    }
                            });
						</script>
					</div>
				
					<div class="col-md-3 col-6 me-auto mb-md-0 mb-3">
						<form id="categorySearchForm" method="get"
							th:action="@{/admin/product/search-by-category}">
							<select class="form-select" name="categoryId" id="categorySelect">
								<option value="0" th:selected="${selectedCategoryId == 0}">All
									category</option>

								<th:block th:each="category : ${categories}"
									th:if="${category.deletedAt == null and category.name != 'Other'}">
									<option th:value="${category.id}" th:text="${category.name}"
										th:selected="${category.id == selectedCategoryId}"></option>
								</th:block>

								<th:block th:each="category : ${categories}"
									th:if="${category.deletedAt == null and category.name == 'Other'}">
									<option th:value="${category.id}" th:text="${category.name}"
										th:selected="${category.id == selectedCategoryId}"></option>
								</th:block>
							</select>
						</form>
						<script>
						    document.getElementById('categorySelect').addEventListener('change', function() {
						        document.getElementById('categorySearchForm').submit();
						    });
						</script>
					</div>
					<div class="col-md-3 col-6 me-auto mb-md-0 mb-3">
						<form id="vendorSearchForm" method="get"
							th:action="@{/admin/product/search-by-vendor}">
							<select class="form-select" name="vendorId" id="vendorSelect">
								<option value="0" th:selected="${selectedVendorId == 0}">All
									Vendor</option>
								<option th:each="vendor : ${vendors}"
									th:if="${vendor.users.deletedAt==null}" th:value="${vendor.id}"
									th:text="${vendor.name}"
									th:selected="${vendor.id == selectedVendorId}"></option>
							</select>
						</form>
						<script>
						    document.getElementById('vendorSelect').addEventListener('change', function() {
						        document.getElementById('vendorSearchForm').submit();
						    });
						</script>
					</div>

				</div>
			</header>
			<!-- card-header end//-->
			<div class="card-body">
				<th:block th:if="${products!=null}">
					<article class="itemlist" th:each="product : ${products}">
						<th:block th:if="${product.products.deletedAt==null}">
							<div class="row align-items-center">
								<div class="col-lg-5 col-sm-2 col-5 flex-grow-1 col-name">
									<a class="itemside" href="#">
										<div class="left">
											<th:block
												th:if="${product.products.mediases[0].name.contains('https:')}">
												<img class="img-sm img-thumbnail"
													th:src="${product.products.mediases[0].name}" alt="Item">
											</th:block>
											<th:block
												th:if="${!product.products.mediases[0].name.contains('https:')}">
												<img class="img-sm img-thumbnail"
													th:src="@{'/assets/imgs/items/' + ${product.products.mediases[0].name}}"
													alt="Item">
											</th:block>

										</div>
										<div class="info">
											<h6 class="mb-0">
												<th:block th:text="${product.products.name}"></th:block>
											</h6>
										</div>
									</a>
								</div>
								<div class="col-lg-1 col-sm-1 col-1 col-price">
									<span>$<th:block th:text="${product.products.price}"></th:block></span>
								</div>
								<div class="col-lg-1 col-sm-1 col-1 col-status">
									<th:block
										th:text="${#strings.substring(product.products.description, 0, 10) + '...'}"></th:block>
								</div>
								<div class="col-lg-1 col-sm-1 col-1 col-date">
									<span><th:block
											th:text="${product.products.vendors.name}"></th:block></span>
								</div>
								<div class="col-lg-2 col-sm-2 col-2 col-date">
									<th:block
											th:with="displayRating=${product.rating != null ? product.rating : 0},
	             cappedRating=${displayRating > 5 ? 5 : displayRating},
	             width=${cappedRating * 20}">
											<ul class="rating-stars">
												<li class="stars-active"
													th:style="'width:' + ${width} + '%'"><img
													th:src="@{/assets/imgs/icons/stars-active.svg}" alt="stars"
													style="height: 20px;"></li>
												<li><img
													th:src="@{/assets/imgs/icons/starts-disable.svg}"
													alt="stars" style="height: 20px;"></li>
											</ul>
										</th:block>
								</div>
								<div class="col-lg-1 col-sm-2 col-2 col-action text-end"
									style="padding-right: 0">
									<a class="btn btn-sm rounded btn-brand mr-5"
										th:href="@{'/admin/product/detail/'+${product.products.id}}"><i
										class="material-icons md-article"></i> Details</a>
								</div>
								<form method="post" th:action="@{/admin/product/delete}"
									th:id="'formDelete_' + ${product.products.id}"
									class="col-lg-1 col-sm-2 col-2 col-action"
									style="padding-left: 0">
									<input type="hidden" name="id"
										th:value="${product.products.id}" />
									<button class="btn btn-sm btn-light rounded delete-button"
										type="button" th:data-product-id="${product.products.id}">
										<i class="material-icons md-delete_forever"></i> Delete
									</button>
								</form>


							</div>
							<!-- row .//-->
							<!-- itemlist  .//-->
						</th:block>
					</article>
					<script>
					     document.querySelectorAll('.delete-button').forEach(button => {
					        button.addEventListener('click', function(e) {
					            e.preventDefault(); 
					            const productId = this.dataset.productId; // Get product ID from data attribute
					            const form = document.getElementById('formDelete_' + productId); // Target the specific form
					
					            Swal.fire({
					                title: "Are you sure?",
					                text: "You won't be able to revert this!",
					                icon: 'warning',
					                showCancelButton: true,
					                confirmButtonColor: "#3085d6",
					                cancelButtonColor: "#d33",
					                confirmButtonText: "Yes, delete it!"
					            }).then((result) => {
					                if (result.isConfirmed) {
					                    form.submit(); // Submit the specific form
					                }
					            });
					        });
					    });
					
					    // JavaScript to display SweetAlert2 based on flash attributes
					    document.addEventListener('DOMContentLoaded', function() {
					        const sweetAlertStatus = '[[${sweetAlert}]]'; // Access the flash attribute
					        const sweetAlertMessage = '[[${message}]]'; // Access the flash attribute
					
					        if (sweetAlertStatus && sweetAlertMessage) {
					            Swal.fire({
					                icon: sweetAlertStatus, // 'success' or 'error'
					                title: sweetAlertStatus === 'success' ? 'Success!' : 'Oops...',
					                text: sweetAlertMessage,
					                showConfirmButton: false,
					                timer: 3000 // Automatically close after 3 seconds
					            });
					        }
					    });
					</script>
				</th:block>

			</div>
		</div>
		<!-- card end//-->
		<!-- Trường hợp danh sách theo category -->
		<th:block
			th:if="${selectedCategoryId != null && selectedVendorId == null && keyword == null && !#lists.isEmpty(products)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/admin/product/search-by-category?categoryId=' + ${selectedCategoryId} + '&page=' + ${0}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							th:href="@{'/admin/product/search-by-category?categoryId=' + ${selectedCategoryId} + '&page=' + ${currentPages-1}}"
							class="page-link" aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">
							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/product/search-by-category?categoryId=' + ${selectedCategoryId} + '&page=' + ${i}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-category?categoryId=' + ${selectedCategoryId} + '&page=' + ${currentPages+1}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-category?categoryId=' + ${selectedCategoryId} + '&page=' + ${lastPageIndex}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
		<!-- Trường hợp danh sách theo vendor -->
		<th:block
			th:if="${selectedVendorId != null && selectedCategoryId  == null && keyword == null && !#lists.isEmpty(products)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link"
							th:href="@{'/admin/product/search-by-category?vendorId=' + ${selectedVendorId} + '&page=' + ${0}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							th:href="@{'/admin/product/search-by-category?vendorId=' + ${selectedVendorId} + '&page=' + ${currentPages-1}}"
							class="page-link" aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">
							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/product/search-by-vendor?vendorId=' + ${selectedVendorId} + '&page=' + ${i}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-vendor?vendorId=' + ${selectedVendorId} + '&page=' + ${currentPages+1}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-vendor?vendorId=' + ${selectedVendorId} + '&page=' + ${lastPageIndex}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>

		<!-- Trường hợp danh sách keyword sản phẩm -->
		<th:block
			th:if="${keyword != null && selectedCategoryId == null && selectedVendorId == null && !#lists.isEmpty(products)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link" th:href="@{'/admin/product/search-by-keyword?keyword='+${keyword} +'&page=' + ${0}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							th:href="@{'/admin/product/search-by-keyword?keyword='+${keyword} +'&page=' + ${currentPages-1}}"
							class="page-link" aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/product/search-by-keyword?keyword='+${keyword} +'&page=' + ${i}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-keyword?keyword='+${keyword} +'&page=' + ${currentPages+1}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/product/search-by-keyword?keyword='+${keyword} +'&page=' + ${lastPageIndex}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
		<!-- Trường hợp danh sách tất cả sản phẩm -->
		<th:block
			th:if="${selectedCategoryId == null && selectedVendorId == null && keyword == null && !#lists.isEmpty(products)}">
			<div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'hidden'"><a
							class="page-link" th:href="@{'/admin/product/list?page=' + ${0}}"
							aria-label="Next"> <i class="material-icons md-double_arrow"
								style="transform: rotate(180deg) translate(15%, -30%);"></i>
						</a></li>
						<!-- Nút trước -->
						<li class="page-item"
							th:classappend="${currentPages == 0} ? 'disabled'"><a
							th:href="@{'/admin/product/list?page=' + ${currentPages-1}}"
							class="page-link" aria-label="Previous"> <i
								class="material-icons md-chevron_left"></i>
						</a></li>

						<!-- Các trang -->
						<th:block th:each="i : ${#numbers.sequence(0, lastPageIndex)}">

							<li class="page-item"
								th:classappend="${i} == ${currentPages} ? 'active'"><a
								class="page-link"
								th:href="@{'/admin/product/list?page=' + ${i}}"
								th:text="${i + 1}"></a></li>
						</th:block>

						<!-- Nút tiếp -->
						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{'/admin/product/list?page=' + ${currentPages+1}}"
							aria-label="Next"> <i class="material-icons md-chevron_right"></i>
						</a>
						</li>

						<li class="page-item"
							th:classappend="${currentPages + 1 >= totalPages} ? 'hidden'">
							<a class="page-link"
							th:href="@{'/admin/product/list?page=' + ${lastPageIndex}}"
							aria-label="Next"><i class="material-icons md-double_arrow"></i>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</th:block>
	</section>
</body>